ocip_schema/Services/OCISchemaServiceRoutePoint.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- ************************************************************************************ -->
<!-- Copyright © 2018 BroadSoft Inc. All rights reserved.-->
<!-- ************************************************************************************ -->
<!-- O C I   X M L   S C H E M A   S E R V I C E   P A R T                                -->
<!--                                                                                      -->
<!-- R O U T E   P O I N T   S E R V I C E                                                -->
<!--                                                                                      -->
<!-- This file defines the XML Schema for the BroadSoft Application Server                -->
<!-- Open Client Interface (OCI).                                                         -->
<!-- ************************************************************************************ -->
<xs:schema xmlns:core="C" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified">

  <xs:import namespace="C" schemaLocation="../OCISchemaBASE.xsd"/>

  <xs:include schemaLocation="../OCISchemaDataTypes.xsd"/>
  <xs:include schemaLocation="../OCISchemaSearchCriteria.xsd"/>
  <xs:include schemaLocation="OCISchemaServiceCallCenter.xsd"/>

  <!-- ************************************************************************************ -->
  <!-- R O U T E   P O I N T   R E Q U E S T S   A N D   R E S P O N S E S                  -->
  <!-- ************************************************************************************ -->
  <!--
  Requests and responses are listed here in alphabetical order.
  The non-primitive attributes inside the commands are defined in another
  section of the schema.

  Requests in this schema file:
    GroupRoutePointAddDNISRequest
    GroupRoutePointAddInstanceRequest23
    GroupRoutePointBouncedCallGetRequest
    GroupRoutePointBouncedCallModifyRequest
    GroupRoutePointDeleteDNISRequest
    GroupRoutePointDeleteInstanceRequest
    GroupRoutePointDistinctiveRingingGetRequest
    GroupRoutePointDistinctiveRingingModifyRequest
    GroupRoutePointForcedForwardingGetRequest20
    GroupRoutePointForcedForwardingModifyRequest20
    GroupRoutePointGetAnnouncementRequest22
    GroupRoutePointGetDNISAgentListRequest
    GroupRoutePointGetDNISAnnouncementRequest22
    GroupRoutePointGetDNISListRequest
    GroupRoutePointGetDNISRequest
    GroupRoutePointGetFailoverPolicyRequest
    GroupRoutePointGetInstanceListRequest
    GroupRoutePointGetInstanceRequest23
    GroupRoutePointHolidayServiceGetRequest20
    GroupRoutePointHolidayServiceModifyRequest20
    GroupRoutePointManualFailoverRequest
    GroupRoutePointModifyActiveInstanceListRequest
    GroupRoutePointModifyAnnouncementRequest20
    GroupRoutePointModifyDNISAnnouncementRequest20
    GroupRoutePointModifyDNISParametersRequest
    GroupRoutePointModifyDNISRequest
    GroupRoutePointModifyFailoverPolicyRequest
    GroupRoutePointModifyInstanceRequest22
    GroupRoutePointNightServiceGetRequest20
    GroupRoutePointNightServiceModifyRequest20
    GroupRoutePointOverflowGetRequest20
    GroupRoutePointOverflowModifyRequest20
    GroupRoutePointQueueCallDispositionCodeAddRequest
    GroupRoutePointQueueCallDispositionCodeDeleteRequest
    GroupRoutePointQueueCallDispositionCodeGetListRequest
    GroupRoutePointQueueCallDispositionCodeGetRequest
    GroupRoutePointQueueCallDispositionCodeModifyRequest
    GroupRoutePointQueueCallDispositionCodeSettingsGetRequest
    GroupRoutePointQueueCallDispositionCodeSettingsModifyRequest
    UserRoutePointCallDispositionCodeGetAvailableListRequest
    UserRoutePointSupervisorGetListRequest
    UserRoutePointSupervisorModifyListRequest
-->

  <xs:complexType name="GroupRoutePointAddDNISRequest">
    <xs:annotation>
      <xs:documentation>
        Add a Route Point DNIS.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="dnisKey" type="DNISKey"/>
          <xs:element name="dnisPhoneNumber" type="DN" minOccurs="0"/>
          <xs:element name="extension" type="Extension17" minOccurs="0"/>
          <xs:element name="useCustomCLIDSettings" type="xs:boolean"/>
          <xs:element name="callingLineIdPhoneNumber" type="DN" minOccurs="0"/>
          <xs:element name="callingLineIdLastName" type="CallingLineIdLastName" minOccurs="0"/>
          <xs:element name="callingLineIdFirstName" type="CallingLineIdFirstName" minOccurs="0"/>
          <xs:element name="useCustomDnisAnnouncementSettings" type="xs:boolean"/>
          <xs:element name="allowOutgoingACDCall" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointAddInstanceRequest23">
    <xs:annotation>
      <xs:documentation>
        Add a Route Point instance to a group.
        The Route Point is a Call Center queue that performs the same function but
        allows an external system to perform the distribution of calls instead of making
        those decisions itself.
        The domain is required in the serviceUserId.
        The response is either SuccessResponse or ErrorResponse.
        The Following elements are only used in AS data mode and ignored in XS data mode:
	      - sendCallAdmissionNotification, use value ‘false’ in XS data mode.
	      - callAdmissionTimerSeconds, use value ‘3’ in XS data mode.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="serviceUserId" type="UserId"/>
          <xs:element name="serviceInstanceProfile" type="ServiceInstanceAddProfile"/>
          <xs:element name="networkClassOfService" type="NetworkClassOfServiceName" minOccurs="0"/>
          <xs:element name="externalPreferredAudioCodec" type="AudioFileCodec22"/>
          <xs:element name="internalPreferredAudioCodec" type="AudioFileCodec22"/>
          <xs:element name="queueLength" type="CallCenterQueueLength16"/>
          <xs:element name="noAnswerTimeoutRings" type="NoAnswerTimeoutRings"/>
          <xs:element name="enableVideo" type="xs:boolean"/>
          <xs:element name="playRingingWhenOfferingCall" type="xs:boolean"/>
          <xs:element name="overrideAgentWrapUpTime" type="xs:boolean"/>
          <xs:element name="wrapUpSeconds" type="CallCenterWrapUpSeconds" minOccurs="0"/>
          <xs:element name="enableAutomaticStateChangeForAgents" type="xs:boolean"/>
          <xs:element name="agentStateAfterCall" type="AgentACDAutomaticState"/>
          <xs:element name="agentUnavailableCode" type="CallCenterAgentUnavailableCode" minOccurs="0"/>
          <xs:element name="forceDeliveryOfCalls" type="xs:boolean"/>
          <xs:element name="forceDeliveryWaitTimeSeconds" type="CallCenterForceDeliveryWaitTimeSeconds" minOccurs="0"/>
          <xs:element name="sendCallAdmissionNotification" type="xs:boolean"/>
          <xs:element name="callAdmissionTimerSeconds" type="RoutePointCallAdmissionTimerSeconds"/>
          <xs:element name="enableUnlimitedQueueLength" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointBouncedCallGetRequest">
    <xs:annotation>
      <xs:documentation>
        Get a route point's bounced call settings.
        The response is either a GroupRoutePointBouncedCallGetResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointBouncedCallGetResponse">
    <xs:annotation>
      <xs:documentation>
        Response to the GroupRoutePointBouncedCallGetRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="isActive" type="xs:boolean"/>
          <xs:element name="numberOfRingsBeforeBouncingCall" type="HuntNoAnswerRings"/>
          <xs:element name="enableTransfer" type="xs:boolean" minOccurs="0"/>
          <xs:element name="transferPhoneNumber" type="OutgoingDNorSIPURI" minOccurs="0"/>
          <xs:element name="bounceCallWhenAgentUnavailable" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointBouncedCallModifyRequest">
    <xs:annotation>
      <xs:documentation>
        Modify a route point's bounced call settings.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
          <xs:element name="isActive" type="xs:boolean" minOccurs="0"/>
          <xs:element name="numberOfRingsBeforeBouncingCall" type="HuntNoAnswerRings" minOccurs="0"/>
          <xs:element name="enableTransfer" type="xs:boolean" minOccurs="0"/>
          <xs:element name="transferPhoneNumber" type="OutgoingDNorSIPURI" minOccurs="0" nillable="true"/>
          <xs:element name="bounceCallWhenAgentUnavailable" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointDeleteDNISRequest">
    <xs:annotation>
      <xs:documentation>
        Delete a route point's DNIS.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="dnisKey" type="DNISKey"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointDeleteInstanceRequest">
    <xs:annotation>
      <xs:documentation>
        Delete a Route Point instance from a group.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointDistinctiveRingingGetRequest">
    <xs:annotation>
      <xs:documentation>
        Get the distinctive ringing configuration values for route point.
        The response is either a GroupRoutePointDistinctiveRingingGetResponse
        or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointDistinctiveRingingGetResponse">
    <xs:annotation>
      <xs:documentation>
        Response to the GroupRoutePointDistinctiveRingingGetRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="enableDistinctiveRinging" type="xs:boolean"/>
          <xs:element name="distinctiveRingingRingPattern" type="RingPattern"/>
          <xs:element name="distinctiveRingingForceDeliveryRingPattern" type="RingPattern"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointDistinctiveRingingModifyRequest">
    <xs:annotation>
      <xs:documentation>
        Modify the distinctive ringing configuration values for route point.

        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
          <xs:element name="enableDistinctiveRinging" type="xs:boolean" minOccurs="0"/>
          <xs:element name="distinctiveRingingRingPattern" type="RingPattern" minOccurs="0"/>
          <xs:element name="distinctiveRingingForceDeliveryRingPattern" type="RingPattern" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointForcedForwardingGetRequest20">
    <xs:annotation>
      <xs:documentation>
        Get a route point's forced forwarding settings.
        The response is either a GroupRoutePointForcedForwardingGetResponse20 or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointForcedForwardingGetResponse20">
    <xs:annotation>
      <xs:documentation>
        Response to the GroupRoutePointForcedForwardingGetRequest20.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="isActive" type="xs:boolean"/>
          <xs:element name="forwardToPhoneNumber" type="OutgoingDNorSIPURI" minOccurs="0"/>
          <xs:element name="playAnnouncementBeforeForwarding" type="xs:boolean"/>
          <xs:element name="audioMessageSelection" type="ExtendedFileResourceSelection"/>
          <xs:element name="audioUrlList" type="CallCenterAnnouncementURLList" minOccurs="0"/>
          <xs:element name="audioFileList" type="CallCenterAnnouncementFileListRead20" minOccurs="0"/>
          <xs:element name="videoMessageSelection" type="ExtendedFileResourceSelection"/>
          <xs:element name="videoUrlList" type="CallCenterAnnouncementURLList" minOccurs="0"/>
          <xs:element name="videoFileList" type="CallCenterAnnouncementFileListRead20" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointForcedForwardingModifyRequest20">
    <xs:annotation>
      <xs:documentation>
        Modify a route point's forced forwarding settings.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
          <xs:element name="isActive" type="xs:boolean" minOccurs="0"/>
          <xs:element name="forwardToPhoneNumber" type="OutgoingDNorSIPURI" minOccurs="0" nillable="true"/>
          <xs:element name="playAnnouncementBeforeForwarding" type="xs:boolean" minOccurs="0"/>
          <xs:element name="audioMessageSelection" type="ExtendedFileResourceSelection" minOccurs="0"/>
          <xs:element name="audioUrlList" type="CallCenterAnnouncementURLListModify" minOccurs="0"/>
          <xs:element name="audioFileList" type="CallCenterAnnouncementFileListModify20" minOccurs="0"/>
          <xs:element name="videoMessageSelection" type="ExtendedFileResourceSelection" minOccurs="0"/>
          <xs:element name="videoUrlList" type="CallCenterAnnouncementURLListModify" minOccurs="0"/>
          <xs:element name="videoFileList" type="CallCenterAnnouncementFileListModify20" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointGetAnnouncementRequest22">
    <xs:annotation>
      <xs:documentation>
        Get a route point's announcement settings.
        The response is either a GroupRoutePointGetAnnouncementResponse22 or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointGetAnnouncementResponse22">
    <xs:annotation>
      <xs:documentation>
        Response to the GroupRoutePointGetAnnouncementRequest22.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="mediaOnHoldSource" type="CallCenterMediaOnHoldSourceRead22"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointGetDNISAgentListRequest">
    <xs:annotation>
      <xs:documentation>
        Get a list of agent who selected the DNIS as the outgoing call.
        The response is either GroupRoutePointGetDNISAgentListResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="dnisKey" type="DNISKey"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointGetDNISAgentListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to the GroupRoutePointGetDNISAgentListRequest.
        Contains a table with column headings: "User Id", "Last Name",
        "First Name", "Hiragana Last Name", "Hiragana First Name",
        "Phone Number", "Extension", "Department", "Email Address".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="agentTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointGetDNISAnnouncementRequest22">
    <xs:annotation>
      <xs:documentation>
        Get a route point's DNIS Announcements
        The response is either a GroupRoutePointGetDNISAnnouncementResponse22 or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="dnisKey" type="DNISKey"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointGetDNISAnnouncementResponse22">
    <xs:annotation>
      <xs:documentation>
        Response to the GroupRoutePointGetDNISAnnouncementRequest22.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="mediaOnHoldSource" type="CallCenterMediaOnHoldSourceRead22"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointGetDNISListRequest">
    <xs:annotation>
      <xs:documentation>
        Get a list of DNIS that are configured for a Route Point.
        The response is either GroupRoutePointGetDNISListResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointGetDNISListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to the GroupRoutePointGetDNISListRequest.
        Contains a table with column headings: "Name", "Phone Number", "Extension".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="displayDNISNumber" type="xs:boolean"/>
          <xs:element name="displayDNISName" type="xs:boolean"/>
          <xs:element name="dnisTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointGetDNISRequest">
    <xs:annotation>
      <xs:documentation>
        Get a route point's DNIS.
        The response is either a GroupRoutePointGetDNISResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="dnisKey" type="DNISKey"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointGetDNISResponse">
    <xs:annotation>
      <xs:documentation>
        Response to the GroupRoutePointGetDNISRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="dnisPhoneNumber" type="DN" minOccurs="0"/>
          <xs:element name="extension" type="Extension17" minOccurs="0"/>
          <xs:element name="useCustomCLIDSettings" type="xs:boolean"/>
          <xs:element name="callingLineIdPhoneNumber" type="DN" minOccurs="0"/>
          <xs:element name="callingLineIdLastName" type="CallingLineIdLastName" minOccurs="0"/>
          <xs:element name="callingLineIdFirstName" type="CallingLineIdFirstName" minOccurs="0"/>
          <xs:element name="useCustomDnisAnnouncementSettings" type="xs:boolean"/>
          <xs:element name="allowOutgoingACDCall" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointGetFailoverPolicyRequest">
    <xs:annotation>
      <xs:documentation>
        Get the route point failover policy.
        The response is either a GroupRoutePointGetFailoverPolicyResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointGetFailoverPolicyResponse">
    <xs:annotation>
      <xs:documentation>
        Response to the GroupRoutePointGetFailoverPolicyRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="enableFailoverSupport" type="xs:boolean"/>
          <xs:element name="externalSystem" type="RoutePointExternalSystem" minOccurs="0"/>
          <xs:element name="failoverPhoneNumber" type="OutgoingDNorSIPURI" minOccurs="0"/>
          <xs:element name="failoverStatus" type="RoutePointFailoverStatus"/>
          <xs:element name="perCallEnableFailoverSupport" type="xs:boolean"/>
          <xs:element name="perCallCallFailureTimeoutSeconds" type="RoutePointCallFailureTimeout"/>
          <xs:element name="perCallOutboundCallFailureTimeoutSeconds" type="RoutePointCallFailureTimeout"/>
          <xs:element name="perCallFailoverPhoneNumber" type="OutgoingDNorSIPURI" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointGetInstanceListRequest">
    <xs:annotation>
      <xs:documentation>
        Get a list of Route Point instances within a group.
        It is possible to search by various criteria to restrict the number of rows returned.
        The response is either GroupRoutePointGetInstanceListResponse or ErrorResponse.
        It is possible to get the instances within a specified department.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="groupDepartmentName" type="DepartmentName" minOccurs="0"/>
          <xs:element name="responseSizeLimit" type="ResponseSizeLimit" minOccurs="0"/>
          <xs:element name="searchCriteriaRoutePointName" type="SearchCriteriaRoutePointName" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointGetInstanceListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to the GroupRoutePointGetInstanceListRequest.
        Contains a table with column headings:
        "Service User Id", "Name", "Video", "Phone Number", "Extension", "Department", "Is Active".
        The column values for "Video" and "Is Active" can either be true, or false.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="routePointTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointGetInstanceRequest23">
    <xs:annotation>
      <xs:documentation>
        Request to get all the information of a Route Point instance.
        The response is either GroupRoutePointGetInstanceResponse19sp1 or ErrorResponse.
        The Following elements are only used in AS data mode and ignored in XS data mode:
	    - sendCallAdmissionNotification, use value ‘false’ in XS data mode.
	    - callAdmissionTimerSeconds, use value ‘3’ in XS data mode.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointGetInstanceResponse23">
    <xs:annotation>
      <xs:documentation>
        Response to GroupRoutePointGetInstanceRequest23.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="serviceInstanceProfile" type="ServiceInstanceReadProfile19sp1"/>
          <xs:element name="networkClassOfService" type="NetworkClassOfServiceName" minOccurs="0"/>
          <xs:element name="externalPreferredAudioCodec" type="AudioFileCodec22"/>
          <xs:element name="internalPreferredAudioCodec" type="AudioFileCodec22"/>
          <xs:element name="queueLength" type="CallCenterQueueLength16"/>
          <xs:element name="noAnswerTimeoutRings" type="NoAnswerTimeoutRings"/>
          <xs:element name="enableVideo" type="xs:boolean"/>
          <xs:element name="playRingingWhenOfferingCall" type="xs:boolean"/>
          <xs:element name="overrideAgentWrapUpTime" type="xs:boolean"/>
          <xs:element name="wrapUpSeconds" type="CallCenterWrapUpSeconds" minOccurs="0"/>
          <xs:element name="enableAutomaticStateChangeForAgents" type="xs:boolean"/>
          <xs:element name="agentStateAfterCall" type="AgentACDAutomaticState"/>
          <xs:element name="agentUnavailableCode" type="CallCenterAgentUnavailableCode" minOccurs="0"/>
          <xs:element name="forceDeliveryOfCalls" type="xs:boolean"/>
          <xs:element name="forceDeliveryWaitTimeSeconds" type="CallCenterForceDeliveryWaitTimeSeconds" minOccurs="0"/>
          <xs:element name="sendCallAdmissionNotification" type="xs:boolean"/>
          <xs:element name="callAdmissionTimerSeconds" type="RoutePointCallAdmissionTimerSeconds"/>
          <xs:element name="enableUnlimitedQueueLength" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointHolidayServiceGetRequest20">
    <xs:annotation>
      <xs:documentation>
        Get a route point's holiday service settings.
        The response is either a GroupRoutePointHolidayServiceGetResponse20 or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointHolidayServiceGetResponse20">
    <xs:annotation>
      <xs:documentation>
        Response to the GroupRoutePointHolidayServiceGetRequest20.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="action" type="CallCenterScheduledServiceAction"/>
          <xs:element name="holidaySchedule" type="HolidaySchedule" minOccurs="0"/>
          <xs:element name="transferPhoneNumber" type="OutgoingDNorSIPURI" minOccurs="0"/>
          <xs:element name="playAnnouncementBeforeAction" type="xs:boolean"/>
          <xs:element name="audioMessageSelection" type="ExtendedFileResourceSelection"/>
          <xs:element name="audioUrlList" type="CallCenterAnnouncementURLList" minOccurs="0"/>
          <xs:element name="audioFileList" type="CallCenterAnnouncementFileListRead20" minOccurs="0"/>
          <xs:element name="videoMessageSelection" type="ExtendedFileResourceSelection"/>
          <xs:element name="videoUrlList" type="CallCenterAnnouncementURLList" minOccurs="0"/>
          <xs:element name="videoFileList" type="CallCenterAnnouncementFileListRead20" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointHolidayServiceModifyRequest20">
    <xs:annotation>
      <xs:documentation>
        Modify a route point's holiday service settings.
        Only Group and Enterprise level schedules are accepted.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
          <xs:element name="action" type="CallCenterScheduledServiceAction" minOccurs="0"/>
          <xs:element name="holidaySchedule" type="HolidaySchedule" minOccurs="0" nillable="true"/>
          <xs:element name="transferPhoneNumber" type="OutgoingDNorSIPURI" minOccurs="0" nillable="true"/>
          <xs:element name="playAnnouncementBeforeAction" type="xs:boolean" minOccurs="0"/>
          <xs:element name="audioMessageSelection" type="ExtendedFileResourceSelection" minOccurs="0"/>
          <xs:element name="audioUrlList" type="CallCenterAnnouncementURLListModify" minOccurs="0"/>
          <xs:element name="audioFileList" type="CallCenterAnnouncementFileListModify20" minOccurs="0"/>
          <xs:element name="videoMessageSelection" type="ExtendedFileResourceSelection" minOccurs="0"/>
          <xs:element name="videoUrlList" type="CallCenterAnnouncementURLListModify" minOccurs="0"/>
          <xs:element name="videoFileList" type="CallCenterAnnouncementFileListModify20" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointManualFailoverRequest">
    <xs:annotation>
      <xs:documentation>
        Initiate manual failover for the Route Point.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointModifyActiveInstanceListRequest">
    <xs:annotation>
      <xs:documentation>
        Request to set the active status of Route Point instances.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceActivation" type="ServiceActivation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointModifyAnnouncementRequest20">
    <xs:annotation>
      <xs:documentation>
        Modify a route point's announcement settings.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
          <xs:element name="mediaOnHoldSource" type="CallCenterMediaOnHoldSourceModify20" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointModifyDNISAnnouncementRequest20">
    <xs:annotation>
      <xs:documentation>
        Modify a route point DNIS announcement settings.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="dnisKey" type="DNISKey"/>
          <xs:element name="mediaOnHoldSource" type="CallCenterMediaOnHoldSourceModify20" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointModifyDNISParametersRequest">
    <xs:annotation>
      <xs:documentation>
        Modify the setting that are configured for all the DNIS in a Route Point.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
          <xs:element name="displayDNISNumber" type="xs:boolean" minOccurs="0"/>
          <xs:element name="displayDNISName" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointModifyDNISRequest">
    <xs:annotation>
      <xs:documentation>
        Modify a route point's DNIS settings.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="dnisKey" type="DNISKey"/>
          <xs:element name="newDNISName" type="DNISName" minOccurs="0"/>
          <xs:element name="dnisPhoneNumber" type="DN" minOccurs="0" nillable="true"/>
          <xs:element name="extension" type="Extension17" minOccurs="0" nillable="true"/>
          <xs:element name="useCustomCLIDSettings" type="xs:boolean" minOccurs="0"/>
          <xs:element name="callingLineIdPhoneNumber" type="DN" minOccurs="0" nillable="true"/>
          <xs:element name="callingLineIdLastName" type="CallingLineIdLastName" minOccurs="0" nillable="true"/>
          <xs:element name="callingLineIdFirstName" type="CallingLineIdFirstName" minOccurs="0" nillable="true"/>
          <xs:element name="useCustomDnisAnnouncementSettings" type="xs:boolean" minOccurs="0"/>
          <xs:element name="allowOutgoingACDCall" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointModifyFailoverPolicyRequest">
    <xs:annotation>
      <xs:documentation>
        Modify the route point failover policy.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
          <xs:element name="enableFailoverSupport" type="xs:boolean" minOccurs="0"/>
          <xs:element name="externalSystem" type="RoutePointExternalSystem" minOccurs="0" nillable="true"/>
          <xs:element name="failoverPhoneNumber" type="OutgoingDNorSIPURI" minOccurs="0" nillable="true"/>
          <xs:element name="perCallEnableFailoverSupport" type="xs:boolean" minOccurs="0"/>
          <xs:element name="perCallCallFailureTimeoutSeconds" type="RoutePointCallFailureTimeout" minOccurs="0"/>
          <xs:element name="perCallOutboundCallFailureTimeoutSeconds" type="RoutePointCallFailureTimeout" minOccurs="0"/>
          <xs:element name="perCallFailoverPhoneNumber" type="OutgoingDNorSIPURI" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointModifyInstanceRequest22">
    <xs:annotation>
      <xs:documentation>
        Request to modify a Route Point instance.
        The response is either SuccessResponse or ErrorResponse.
        The Following elements are only used in AS data mode and ignored in XS data mode:
	    - sendCallAdmissionNotification, use value ‘false’ in XS data mode.
	    - callAdmissionTimerSeconds, use value ‘3’ in XS data mode.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
          <xs:element name="serviceInstanceProfile" type="ServiceInstanceModifyProfile" minOccurs="0"/>
          <xs:element name="networkClassOfService" type="NetworkClassOfServiceName" minOccurs="0"/>
          <xs:element name="externalPreferredAudioCodec" type="AudioFileCodec22" minOccurs="0"/>
          <xs:element name="internalPreferredAudioCodec" type="AudioFileCodec22" minOccurs="0"/>
          <xs:element name="queueLength" type="CallCenterQueueLength16" minOccurs="0"/>
          <xs:element name="noAnswerTimeoutRings" type="NoAnswerTimeoutRings" minOccurs="0"/>
          <xs:element name="enableVideo" type="xs:boolean" minOccurs="0"/>
          <xs:element name="playRingingWhenOfferingCall" type="xs:boolean" minOccurs="0"/>
          <xs:element name="overrideAgentWrapUpTime" type="xs:boolean" minOccurs="0"/>
          <xs:element name="wrapUpSeconds" type="CallCenterWrapUpSeconds" minOccurs="0" nillable="true"/>
          <xs:element name="enableAutomaticStateChangeForAgents" type="xs:boolean" minOccurs="0"/>
          <xs:element name="agentStateAfterCall" type="AgentACDAutomaticState" minOccurs="0"/>
          <xs:element name="agentUnavailableCode" type="CallCenterAgentUnavailableCode" nillable="true" minOccurs="0"/>
          <xs:element name="forceDeliveryOfCalls" type="xs:boolean" minOccurs="0"/>
          <xs:element name="forceDeliveryWaitTimeSeconds" type="CallCenterForceDeliveryWaitTimeSeconds" minOccurs="0" nillable="true"/>
          <xs:element name="sendCallAdmissionNotification" type="xs:boolean" minOccurs="0"/>
          <xs:element name="callAdmissionTimerSeconds" type="RoutePointCallAdmissionTimerSeconds" minOccurs="0"/>
          <xs:element name="enableUnlimitedQueueLength" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointNightServiceGetRequest20">
    <xs:annotation>
      <xs:documentation>
        Get a route point's night service settings.
        The response is either a GroupRoutePointNightServiceGetResponse20 or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointNightServiceGetResponse20">
    <xs:annotation>
      <xs:documentation>
        Response to the GroupRoutePointNightServiceGetRequest20.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="action" type="CallCenterScheduledServiceAction"/>
          <xs:element name="businessHours" type="TimeSchedule" minOccurs="0"/>
          <xs:element name="forceNightService" type="xs:boolean"/>
          <xs:element name="transferPhoneNumber" type="OutgoingDNorSIPURI" minOccurs="0"/>
          <xs:element name="playAnnouncementBeforeAction" type="xs:boolean"/>
          <xs:element name="audioMessageSelection" type="ExtendedFileResourceSelection"/>
          <xs:element name="audioUrlList" type="CallCenterAnnouncementURLList" minOccurs="0"/>
          <xs:element name="audioFileList" type="CallCenterAnnouncementFileListRead20" minOccurs="0"/>
          <xs:element name="videoMessageSelection" type="ExtendedFileResourceSelection"/>
          <xs:element name="videoUrlList" type="CallCenterAnnouncementURLList" minOccurs="0"/>
          <xs:element name="videoFileList" type="CallCenterAnnouncementFileListRead20" minOccurs="0"/>
          <xs:element name="manualAnnouncementMode" type="CallCenterManualNightServiceAnnouncementMode"/>
          <xs:element name="manualAudioMessageSelection" type="ExtendedFileResourceSelection"/>
          <xs:element name="manualAudioUrlList" type="CallCenterAnnouncementURLList" minOccurs="0"/>
          <xs:element name="manualAudioFileList" type="CallCenterAnnouncementFileListRead20" minOccurs="0"/>
          <xs:element name="manualVideoMessageSelection" type="ExtendedFileResourceSelection"/>
          <xs:element name="manualVideoUrlList" type="CallCenterAnnouncementURLList" minOccurs="0"/>
          <xs:element name="manualVideoFileList" type="CallCenterAnnouncementFileListRead20" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointNightServiceModifyRequest20">
    <xs:annotation>
      <xs:documentation>
        Modify a route point's night service settings.
        Only Group and Enterprise level schedules are accepted.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
          <xs:element name="action" type="CallCenterScheduledServiceAction" minOccurs="0"/>
          <xs:element name="businessHours" type="TimeSchedule" minOccurs="0" nillable="true"/>
          <xs:element name="forceNightService" type="xs:boolean" minOccurs="0"/>
          <xs:element name="transferPhoneNumber" type="OutgoingDNorSIPURI" minOccurs="0" nillable="true"/>
          <xs:element name="playAnnouncementBeforeAction" type="xs:boolean" minOccurs="0"/>
          <xs:element name="audioMessageSelection" type="ExtendedFileResourceSelection" minOccurs="0"/>
          <xs:element name="audioUrlList" type="CallCenterAnnouncementURLListModify" minOccurs="0"/>
          <xs:element name="audioFileList" type="CallCenterAnnouncementFileListModify20" minOccurs="0"/>
          <xs:element name="videoMessageSelection" type="ExtendedFileResourceSelection" minOccurs="0"/>
          <xs:element name="videoUrlList" type="CallCenterAnnouncementURLListModify" minOccurs="0"/>
          <xs:element name="videoFileList" type="CallCenterAnnouncementFileListModify20" minOccurs="0"/>
          <xs:element name="manualAnnouncementMode" type="CallCenterManualNightServiceAnnouncementMode" minOccurs="0"/>
          <xs:element name="manualAudioMessageSelection" type="ExtendedFileResourceSelection" minOccurs="0"/>
          <xs:element name="manualAudioUrlList" type="CallCenterAnnouncementURLListModify" minOccurs="0"/>
          <xs:element name="manualAudioFileList" type="CallCenterAnnouncementFileListModify20" minOccurs="0"/>
          <xs:element name="manualVideoMessageSelection" type="ExtendedFileResourceSelection" minOccurs="0"/>
          <xs:element name="manualVideoUrlList" type="CallCenterAnnouncementURLListModify" minOccurs="0"/>
          <xs:element name="manualVideoFileList" type="CallCenterAnnouncementFileListModify20" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointOverflowGetRequest20">
    <xs:annotation>
      <xs:documentation>
        Get a route point's overflow settings.
        The response is either a GroupRoutePointOverflowGetResponse20 or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointOverflowGetResponse20">
    <xs:annotation>
      <xs:documentation>
        Response to the GroupRoutePointOverflowGetRequest20.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="action" type="CallCenterOverflowProcessingAction"/>
          <xs:element name="transferPhoneNumber" type="OutgoingDNorSIPURI" minOccurs="0"/>
          <xs:element name="overflowAfterTimeout" type="xs:boolean"/>
          <xs:element name="timeoutSeconds" type="HuntForwardTimeoutSeconds"/>
          <xs:element name="playAnnouncementBeforeOverflowProcessing" type="xs:boolean"/>
          <xs:element name="audioMessageSelection" type="ExtendedFileResourceSelection"/>
          <xs:element name="audioUrlList" type="CallCenterAnnouncementURLList" minOccurs="0"/>
          <xs:element name="audioFileList" type="CallCenterAnnouncementFileListRead20" minOccurs="0"/>
          <xs:element name="videoMessageSelection" type="ExtendedFileResourceSelection" minOccurs="0"/>
          <xs:element name="videoUrlList" type="CallCenterAnnouncementURLList" minOccurs="0"/>
          <xs:element name="videoFileList" type="CallCenterAnnouncementFileListRead20" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointOverflowModifyRequest20">
    <xs:annotation>
      <xs:documentation>
        Modify a route point's overflow settings.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
          <xs:element name="action" type="CallCenterOverflowProcessingAction" minOccurs="0"/>
          <xs:element name="transferPhoneNumber" type="OutgoingDNorSIPURI" minOccurs="0" nillable="true"/>
          <xs:element name="overflowAfterTimeout" type="xs:boolean" minOccurs="0"/>
          <xs:element name="timeoutSeconds" type="HuntForwardTimeoutSeconds" minOccurs="0"/>
          <xs:element name="playAnnouncementBeforeOverflowProcessing" type="xs:boolean" minOccurs="0"/>
          <xs:element name="audioMessageSelection" type="ExtendedFileResourceSelection" minOccurs="0"/>
          <xs:element name="audioUrlList" type="CallCenterAnnouncementURLListModify" minOccurs="0"/>
          <xs:element name="audioFileList" type="CallCenterAnnouncementFileListModify20" minOccurs="0"/>
          <xs:element name="videoMessageSelection" type="ExtendedFileResourceSelection" minOccurs="0"/>
          <xs:element name="videoUrlList" type="CallCenterAnnouncementURLListModify" minOccurs="0"/>
          <xs:element name="videoFileList" type="CallCenterAnnouncementFileListModify20" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointQueueCallDispositionCodeAddRequest">
    <xs:annotation>
      <xs:documentation>
        Add a Route Point Call Disposition Code.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
          <xs:element name="code" type="CallDispositionCode"/>
          <xs:element name="isActive" type="xs:boolean"/>
          <xs:element name="description" type="CallDispositionCodeDescription" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointQueueCallDispositionCodeDeleteRequest">
    <xs:annotation>
      <xs:documentation>
        Delete a Route Point Call Disposition Code.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
          <xs:element name="code" type="CallDispositionCode"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointQueueCallDispositionCodeGetListRequest">
    <xs:annotation>
      <xs:documentation>
        Get the list of Route Point Level and Organization Level Call Disposition Codes.
        The response is either GroupRoutePointQueueCallDispositionCodeGetListResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointQueueCallDispositionCodeGetListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to the GroupRoutePointQueueCallDispositionCodeGetListRequest.
        Contains a table with column headings: "Is Active", "Code", "Description" and "Level".
        Level column can be any of the values in the data type CallDispositionCodeLevel.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="dispositionCodesTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointQueueCallDispositionCodeGetRequest">
    <xs:annotation>
      <xs:documentation>
        Get a Route Point Call Disposition Code.
        The response is either GroupRoutePointQueueCallDispositionCodeGetResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
          <xs:element name="code" type="CallDispositionCode"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointQueueCallDispositionCodeGetResponse">
    <xs:annotation>
      <xs:documentation>
        Response to the GroupRoutePointQueueCallDispositionCodeGetRequest
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="isActive" type="xs:boolean"/>
          <xs:element name="description" type="CallDispositionCodeDescription" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointQueueCallDispositionCodeModifyRequest">
    <xs:annotation>
      <xs:documentation>
        Modify a Route Point Call Disposition Code.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
          <xs:element name="code" type="CallDispositionCode"/>
          <xs:element name="isActive" type="xs:boolean" minOccurs="0"/>
          <xs:element name="description" type="CallDispositionCodeDescription" nillable="true" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointQueueCallDispositionCodeSettingsGetRequest">
    <xs:annotation>
      <xs:documentation>
        Request the queue level data associated with Route Point Call Disposition Code Settings.
        The response is either an GroupRoutePointQueueCallDispositionCodeSettingsGetResponse or an
        ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointQueueCallDispositionCodeSettingsGetResponse">
    <xs:annotation>
      <xs:documentation>
        Response to GroupRoutePointQueueCallDispositionCodeSettingsGetRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="enableCallDispositionCodes" type="xs:boolean"/>
          <xs:element name="includeOrganizationCodes" type="xs:boolean"/>
          <xs:element name="forceUseOfCallDispositionCodes" type="xs:boolean"/>
          <xs:element name="defaultCallDispositionCode" type="CallDispositionCodeWithLevel" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRoutePointQueueCallDispositionCodeSettingsModifyRequest">
    <xs:annotation>
      <xs:documentation>
        Modify the queue level data associated with Route Point Agents Unavailable Code Settings.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
          <xs:element name="enableCallDispositionCodes" type="xs:boolean" minOccurs="0"/>
          <xs:element name="includeOrganizationCodes" type="xs:boolean" minOccurs="0"/>
          <xs:element name="forceUseOfCallDispositionCodes" type="xs:boolean" minOccurs="0"/>
          <xs:element name="defaultCallDispositionCode" type="CallDispositionCodeWithLevel" nillable="true" minOccurs="0"/>
          <xs:element name="callDispositionCodeActivation" type="CallDispositionCodeActivation" minOccurs="0" maxOccurs="1000"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserRoutePointCallDispositionCodeGetAvailableListRequest">
    <xs:annotation>
      <xs:documentation>
        Get the list of available Route Point Call Disposition Codes to be used by a client.
        The response is either UserRoutePointCallDispositionCodeGetAvailableListResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserRoutePointCallDispositionCodeGetAvailableListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to the UserRoutePointCallDispositionCodeGetAvailableListRequest.
        This list may include Group/Enterprise level codes in addition to the Route Point level codes,
        depending on the call center disposition codes settings.
        Only active codes are included in the list.
        Contains a table with column headings: "Code", "Description" and "Level".
        Level column can be any of the values in the data type CallDispositionCodeLevel.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="dispositionCodesTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserRoutePointSupervisorGetListRequest">
    <xs:annotation>
      <xs:documentation>
        Get a list of Route Point supervisors assigned to a user.
        The response is either a
        UserRoutePointSupervisorGetListResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserRoutePointSupervisorGetListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to the UserRoutePointSupervisorGetListRequest.
        Contains a table with column headings: "User Id", "Last Name",
        "First Name", "Hiragana Last Name", "Hiragana First Name",
        "Phone Number", "Extension", "Department", "Email Address",
		"Location Code".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="supervisorTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserRoutePointSupervisorModifyListRequest">
    <xs:annotation>
      <xs:documentation>
        Request to modify the Route Point supervisor list for a user.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="supervisorUserIdList" type="ReplacementUserIdList" nillable="true" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- ******************************************************************** -->
  <!-- M E S S A G E   P A R A M E T E R S                                  -->
  <!-- ******************************************************************** -->
  <!--
  The Route Point specific non-primitive attributes are listed here in alphabetical order.
  -->


  <xs:simpleType name="RoutePointCallFailureTimeout">
    <xs:annotation>
      <xs:documentation>
        The call failure timeout.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="60"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
