ocip_schema/Services/OCISchemaServiceMWIDeliveryToMobileEndpoint.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- ************************************************************************************ -->
<!-- Copyright © 2018 BroadSoft Inc. All rights reserved.-->
<!-- ************************************************************************************ -->
<!-- O C I   X M L   S C H E M A   S E R V I C E   P A R T                                -->
<!--                                                                                      -->
<!-- M W I   D E L I V E R Y   T O   M O B I L E   E N D P O I N T                        -->
<!-- S E R V I C E                                                                        -->
<!--                                                                                      -->
<!-- This file defines the XML Schema for the BroadSoft Application Server                -->
<!-- Open Client Interface (OCI).                                                         -->
<!-- ************************************************************************************ -->
<xs:schema xmlns:core="C" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified">

  <xs:import namespace="C" schemaLocation="../OCISchemaBASE.xsd"/>

  <xs:include schemaLocation="../OCISchemaDataTypes.xsd"/>

  <!-- ************************************************************************************ -->
  <!-- M W I   D E L I V E R Y   T O   M O B I L E   E N D P O I N T                        -->
  <!-- R E Q U E S T S   A N D   R E S P O N S E S                                          -->
  <!-- ************************************************************************************ -->
  <!--
  Requests and responses are listed here in alphabetical order.
  The non-primitive attributes inside the commands are defined in another
  section of the schema.

  Requests in this schema file:
    GroupMWIDeliveryToMobileEndpointCustomTemplateAddRequest23
    GroupMWIDeliveryToMobileEndpointCustomTemplateDeleteRequest23
    GroupMWIDeliveryToMobileEndpointCustomTemplateGetRequest23
    GroupMWIDeliveryToMobileEndpointCustomTemplateModifyRequest23
    GroupMWIDeliveryToMobileEndpointGetRequest
    GroupMWIDeliveryToMobileEndpointModifyRequest23
    ServiceProviderMWIDeliveryToMobileEndpointCustomTemplateAddRequest23
    ServiceProviderMWIDeliveryToMobileEndpointCustomTemplateDeleteRequest23
    ServiceProviderMWIDeliveryToMobileEndpointCustomTemplateGetRequest23
    ServiceProviderMWIDeliveryToMobileEndpointCustomTemplateModifyRequest23
    ServiceProviderMWIDeliveryToMobileEndpointGetRequest
    ServiceProviderMWIDeliveryToMobileEndpointModifyRequest23
    UserMWIDeliveryToMobileEndpointGetRequest23
    UserMWIDeliveryToMobileEndpointModifyRequest
-->

  <xs:complexType name="GroupMWIDeliveryToMobileEndpointCustomTemplateAddRequest23">
    <xs:annotation>
      <xs:documentation>
         Create a MWI Delivery to Mobile Endpoint Custom Template.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="language" type="Language"/>
          <xs:element name="type" type="MWIDeliveryToMobileEndpointTemplateType23"/>
          <xs:element name="isEnabled" type="xs:boolean"/>
          <xs:element name="monthAbbreviations" type="MonthAbbreviationsType" minOccurs="0"/>
          <xs:element name="templateBody" type="MWIDeliveryToMobileEndpointTemplateBody23"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupMWIDeliveryToMobileEndpointCustomTemplateDeleteRequest23">
    <xs:annotation>
      <xs:documentation>
         Delete a MWI Delivery to Mobile Endpoint Custom Template.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="language" type="Language"/>
          <xs:element name="type" type="MWIDeliveryToMobileEndpointTemplateType23"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupMWIDeliveryToMobileEndpointCustomTemplateGetRequest23">
    <xs:annotation>
      <xs:documentation>
        Request a MWI Delivery to Mobile Endpoint Custom Template.
        The response is either a GroupMWIDeliveryToMobileEndpointCustomTemplateGetResponse23 or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="language" type="Language"/>
          <xs:element name="type" type="MWIDeliveryToMobileEndpointTemplateType23"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupMWIDeliveryToMobileEndpointCustomTemplateGetResponse23">
    <xs:annotation>
      <xs:documentation>
        Response to the GroupMWIDeliveryToMobileEndpointCustomTemplateGetRequest23.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="isEnabled" type="xs:boolean"/>
          <xs:element name="monthAbbreviations" type="MonthAbbreviationsType" minOccurs="0"/>
          <xs:element name="templateBody" type="MWIDeliveryToMobileEndpointTemplateBody23"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupMWIDeliveryToMobileEndpointCustomTemplateModifyRequest23">
    <xs:annotation>
      <xs:documentation>
         Modify a MWI Delivery to Mobile Endpoint Custom Template.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="language" type="Language"/>
          <xs:element name="type" type="MWIDeliveryToMobileEndpointTemplateType23"/>
          <xs:element name="isEnabled" type="xs:boolean" minOccurs="0"/>
          <xs:element name="monthAbbreviations" type="MonthAbbreviationsType" nillable="true" minOccurs="0"/>
          <xs:element name="templateBody" type="MWIDeliveryToMobileEndpointTemplateBody23" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupMWIDeliveryToMobileEndpointGetRequest">
    <xs:annotation>
      <xs:documentation>
        Requests group MWI custom notifications settings.
        The response is either a GroupMWIDeliveryToMobileEndpointGetResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupMWIDeliveryToMobileEndpointGetResponse">
    <xs:annotation>
      <xs:documentation>
        Response to GroupMWIDeliveryToMobileEndpointGetRequest.

        The templateActivationTable contains the list of templates defined for the group.
        The column headings are "Enable", "Language", "Type".

      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="useSettingLevel" type="MWIDeliveryToMobileEndpointGroupSettingLevel"/>
          <xs:element name="templateActivationTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupMWIDeliveryToMobileEndpointModifyRequest23">
    <xs:annotation>
      <xs:documentation>
         Modify the group level MWI custom notifications settings.
        The response is either a SuccessResponse or an ErrorResponse.

        If the request is executed by a group administrator and modifies the useSettingLevel, the request is rejected.

      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="useSettingLevel" type="MWIDeliveryToMobileEndpointGroupSettingLevel" minOccurs="0"/>
          <xs:element name="templateActivation" type="MWIDeliveryToMobileEndpointTemplateActivation23" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ServiceProviderMWIDeliveryToMobileEndpointCustomTemplateAddRequest23">
    <xs:annotation>
      <xs:documentation>
         Create a MWI Delivery to Mobile Endpoint Custom Template.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="language" type="Language"/>
          <xs:element name="type" type="MWIDeliveryToMobileEndpointTemplateType23"/>
          <xs:element name="isEnabled" type="xs:boolean"/>
          <xs:element name="monthAbbreviations" type="MonthAbbreviationsType" minOccurs="0"/>
          <xs:element name="templateBody" type="MWIDeliveryToMobileEndpointTemplateBody23"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ServiceProviderMWIDeliveryToMobileEndpointCustomTemplateDeleteRequest23">
    <xs:annotation>
      <xs:documentation>
         Delete a MWI Delivery to Mobile Endpoint Custom Template.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="language" type="Language"/>
          <xs:element name="type" type="MWIDeliveryToMobileEndpointTemplateType23"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ServiceProviderMWIDeliveryToMobileEndpointCustomTemplateGetRequest23">
    <xs:annotation>
      <xs:documentation>
        Request a MWI Delivery to Mobile Endpoint Custom Template.
        The response is either a ServiceProviderMWIDeliveryToMobileEndpointCustomTemplateGetResponse23 or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="language" type="Language"/>
          <xs:element name="type" type="MWIDeliveryToMobileEndpointTemplateType23"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ServiceProviderMWIDeliveryToMobileEndpointCustomTemplateGetResponse23">
    <xs:annotation>
      <xs:documentation>
        Response to the ServiceProviderMWIDeliveryToMobileEndpointCustomTemplateGetRequest23.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="isEnabled" type="xs:boolean"/>
          <xs:element name="monthAbbreviations" type="MonthAbbreviationsType" minOccurs="0"/>
          <xs:element name="templateBody" type="MWIDeliveryToMobileEndpointTemplateBody23"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ServiceProviderMWIDeliveryToMobileEndpointCustomTemplateModifyRequest23">
    <xs:annotation>
      <xs:documentation>
         Modify a MWI Delivery to Mobile Endpoint Custom Template.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="language" type="Language"/>
          <xs:element name="type" type="MWIDeliveryToMobileEndpointTemplateType23"/>
          <xs:element name="isEnabled" type="xs:boolean" minOccurs="0"/>
          <xs:element name="monthAbbreviations" type="MonthAbbreviationsType" nillable="true" minOccurs="0"/>
          <xs:element name="templateBody" type="MWIDeliveryToMobileEndpointTemplateBody23" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ServiceProviderMWIDeliveryToMobileEndpointGetRequest">
    <xs:annotation>
      <xs:documentation>
        Request the service provider level data associated with MWI Delivery to Mobile Endpoint service.
        The response is either a ServiceProviderMWIDeliveryToMobileEndpointGetResponse or an ErrorResponse.      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ServiceProviderMWIDeliveryToMobileEndpointGetResponse">
    <xs:annotation>
      <xs:documentation>
        Response to ServiceProviderMWIDeliveryToMobileEndpointGetRequest.

        The templateActivationTable contains the list of templates defined for the service provider.
        The column headings are "Enable", "Language", "Type".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="templateActivationTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ServiceProviderMWIDeliveryToMobileEndpointModifyRequest23">
    <xs:annotation>
      <xs:documentation>
         Modify the service provider level MWI custom notifications settings.
        The response is either a SuccessResponse or an ErrorResponse.
    </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="templateActivation" type="MWIDeliveryToMobileEndpointTemplateActivation23" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserMWIDeliveryToMobileEndpointGetRequest23">
    <xs:annotation>
      <xs:documentation>
        Request the user level data associated with MWI Delivery to Mobile Endpoint service.
        The response is either a UserMWIDeliveryToMobileEndpointGetResponse23 or an ErrorResponse.

           The following elements are only used in AS data mode:
           sendMissedCallAlert
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserMWIDeliveryToMobileEndpointGetResponse23">
    <xs:annotation>
      <xs:documentation>
        Response to UserMWIDeliveryToMobileEndpointGetRequest23.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="isActive" type="xs:boolean"/>
          <xs:element name="mobilePhoneNumber" type="DN" minOccurs="0"/>
          <xs:element name="sendMissedCallAlert" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserMWIDeliveryToMobileEndpointModifyRequest">
    <xs:annotation>
      <xs:documentation>
        Request to modify the user level data associated with MWI Delivery to Mobile Endpoint service.
        The response is either a SuccessResponse or an ErrorResponse.

        The following element is only used in AS data mode:
           sendMissedCallAlert
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="isActive" type="xs:boolean" minOccurs="0"/>
          <xs:element name="mobilePhoneNumber" type="DN" nillable="true" minOccurs="0"/>
          <xs:element name="sendMissedCallAlert" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- ******************************************************************** -->
  <!-- M E S S A G E   P A R A M E T E R S                                  -->
  <!-- ******************************************************************** -->
  <!--
  The MWI Delivery To Mobile Endpoint specific non-primitive attributes are listed here in alphabetical order.
  -->


  <xs:complexType name="MWIDeliveryToMobileEndpointTemplateActivation23">
    <xs:annotation>
      <xs:documentation>
        MWI Delivery To Mobile Endpoint enabled status indicator
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="language" type="Language"/>
      <xs:element name="type" type="MWIDeliveryToMobileEndpointTemplateType23"/>
      <xs:element name="isEnabled" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MWIDeliveryToMobileEndpointTemplateBody23">
    <xs:annotation>
      <xs:documentation>
         MWI Delivery To Mobile Endpoint template body.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="line" type="MWIDeliveryToMobileEndpointTemplateLine23" maxOccurs="13"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MWIDeliveryToMobileEndpointTemplateLine23">
    <xs:annotation>
      <xs:documentation>
         MWI Delivery To Mobile Endpoint template section associated with a specific tag.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="prefix" type="MWIDeliveryToMobileEndpointTemplatePhrase" minOccurs="0"/>
      <xs:element name="tag" type="MWIDeliveryToMobileEndpointTemplateTag23" minOccurs="0"/>
      <xs:element name="postfix" type="MWIDeliveryToMobileEndpointTemplatePhrase" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="MonthAbbreviationsType">
    <xs:annotation>
      <xs:documentation>
         The month format to be shown in Missed Call Alerts SMS template.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="128"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="MWIDeliveryToMobileEndpointTemplateTag23">
    <xs:annotation>
      <xs:documentation>
          MWI Delivery To Mobile Endpoint template tag.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Voice Mail Number"/>
      <xs:enumeration value="New Messages Count"/>
      <xs:enumeration value="Total Messages Count"/>
      <xs:enumeration value="Caller Name"/>
      <xs:enumeration value="Caller Number"/>
      <xs:enumeration value="Hour"/>
      <xs:enumeration value="Minute"/>
      <xs:enumeration value="Day Of Month"/>
      <xs:enumeration value="Month"/>
      <xs:enumeration value="Year"/>
      <xs:enumeration value="New Messages From Caller"/>
      <xs:enumeration value="Total Messages From Caller"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="MWIDeliveryToMobileEndpointTemplateType23">
    <xs:annotation>
      <xs:documentation>
         MWI Delivery To Mobile Endpoint template types.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Default"/>
      <xs:enumeration value="Single New No Previous Message"/>
      <xs:enumeration value="Single New With Previous Message"/>
      <xs:enumeration value="Multiple New Messages"/>
      <xs:enumeration value="Missed call alert for Unconditional voice mail forwarding"/>
      <xs:enumeration value="Missed call alert for Busy voice mail forwarding"/>
      <xs:enumeration value="Missed call alert for Not Reachable voice mail forwarding"/>
      <xs:enumeration value="Missed call alert for No Answer voice mail forwarding"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
