ocip_schema/Services/OCISchemaServiceBroadWorksMobility.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- ********************************************************************** -->
<!-- Copyright (c) 2000-2012 BroadSoft, Inc.  All rights reserved.          -->
<!-- ********************************************************************** -->
<!-- O C I   X M L   S C H E M A  :  S E R V I C E  P A R T                 -->
<!--                                                                        -->
<!-- B R O A D   W O R K S   M O B I L I T Y  S E R V I C E                 -->
<!--                                                                        -->
<!-- This file defines the XML Schema for the BroadSoft Application Server  -->
<!-- Open Client Interface (OCI).                                           -->
<!-- ********************************************************************** -->

<xs:schema xmlns:xs             = "http://www.w3.org/2001/XMLSchema"
           xmlns:core           = "C"
           xmlns                = ""
           attributeFormDefault = "qualified"
           elementFormDefault   = "qualified">

  <xs:import namespace      = "C"
             schemaLocation = "../OCISchemaBASE.xsd"/>

  <xs:include schemaLocation="../OCISchemaDataTypes.xsd"/>
  <xs:include schemaLocation="../OCISchemaSearchCriteria.xsd"/>

  <!-- ********************************************************************************** -->
  <!-- B R O A D   W O R K S   M O B I L I T Y                                            -->
  <!-- R E Q U E S T S  A N D  R E S P O N S E S                                          -->
  <!-- ********************************************************************************** -->
  <!--
  Requests and responses are listed here in alphabetical order.
  The non-primitive attributes inside the commands are defined in another
  section of the schema.

  Requests in this schema file:
    SystemBroadWorksMobilityAddIMRNListRequest
    SystemBroadWorksMobilityAddMobileNetworkIMRNListRequest
    SystemBroadWorksMobilityDeleteIMRNListRequest
    SystemBroadWorksMobilityDeleteMobileNetworkIMRNListRequest
    SystemBroadWorksMobilityGetIMRNListRequest
    SystemBroadWorksMobilityGetMobileNetworkIMRNListRequest
    SystemBroadWorksMobilityMobileNetworkAddRequest
    SystemBroadWorksMobilityMobileNetworkModifyRequest
    SystemBroadWorksMobilityMobileNetworkGetRequest
    SystemBroadWorksMobilityMobileNetworkGetListRequest
    SystemBroadWorksMobilityMobileNetworkDeleteRequest
    SystemBroadWorksMobilityServiceAccessCodeListAddRequest
    SystemBroadWorksMobilityServiceAccessCodeListModifyRequest
    SystemBroadWorksMobilityServiceAccessCodeListDeleteRequest
    SystemBroadWorksMobilityServiceAccessCodeListGetListRequest
    SystemBroadWorksMobilityServiceAccessCodeListUsageGetRequest
    SystemBroadWorksMobilityServiceAccessCodeGetListRequest21
    SystemBroadWorksMobilityServiceAccessCodeAddRequest21
    SystemBroadWorksMobilityServiceAccessCodeDeleteRequest21
    SystemBroadWorksMobilityServiceAccessCodeModifyRequest21
    SystemBroadWorksMobilityGetRequest21
    SystemBroadWorksMobilityModifyRequest21
    SystemBroadWorksMobilityMobileSubscriberDirectoryNumberGetSummaryListRequest
    ServiceProviderBroadWorksMobilityGetRequest19sp1
    ServiceProviderBroadWorksMobilityModifyRequest
    ServiceProviderBroadWorksMobilityMobileSubscriberDirectoryNumberAddListRequest21
    ServiceProviderBroadWorksMobilityMobileSubscriberDirectoryNumberDeleteListRequest
    ServiceProviderBroadWorksMobilityMobileSubscriberDirectoryNumberGetAvailableListRequest
    ServiceProviderBroadWorksMobilityMobileSubscriberDirectoryNumberGetSummaryListRequest
    EnterpriseBroadWorksMobilityMobileSubscriberDirectoryNumberGetAvailableListRequest
    EnterpriseBroadWorksMobilityMobileSubscriberDirectoryNumberGetAssignmentListRequest
    GroupBroadWorksMobilityGetRequest19sp1
    GroupBroadWorksMobilityModifyRequest
    GroupBroadWorksMobilityMobileSubscriberDirectoryNumberAssignListRequest
    GroupBroadWorksMobilityMobileSubscriberDirectoryNumberGetAssignmentListRequest
    GroupBroadWorksMobilityMobileSubscriberDirectoryNumberGetAvailableListRequest
    GroupBroadWorksMobilityMobileSubscriberDirectoryNumberUnassignListRequest
    UserBroadWorksMobilityGetRequest21
    UserBroadWorksMobilityModifyRequest21
    UserBroadWorksMobilityMobileIdentityAddRequest
    UserBroadWorksMobilityMobileIdentityDeleteRequest
    UserBroadWorksMobilityMobileIdentityGetRequest
    UserBroadWorksMobilityMobileIdentityModifyRequest

  -->

  <xs:complexType name="SystemBroadWorksMobilityAddIMRNListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Adds BroadWorks Mobility IMRN numbers to the system. It is possible to add either:
        a single number, a list of numbers, or a range of numbers, or any combination thereof.
        The response is either a SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="imrnNumber" type="DN" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="numberRange" type="DNRange" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemBroadWorksMobilityAddMobileNetworkIMRNListRequest">
    <xs:annotation>
      <xs:documentation>
        Adds BroadWorks Mobility IMRN numbers to a Mobile Network. It is possible to add either:
        a single number, a list of numbers, or a range of numbers, or any combination thereof.
        The response is either a SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="mobileNetworkName" type="BroadWorksMobilityMobileNetworkName"/>
          <xs:element name="imrnNumber" type="DN" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="numberRange" type="DNRange" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemBroadWorksMobilityDeleteIMRNListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Removes a BroadWorks Mobility IMRN number from the system.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="imrnNumber" type="DN" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemBroadWorksMobilityDeleteMobileNetworkIMRNListRequest">
    <xs:annotation>
      <xs:documentation>
        Remove BroadWorks Mobility IMRN numbers from a Mobile Network.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="mobileNetworkName" type="BroadWorksMobilityMobileNetworkName"/>
          <xs:element name="imrnNumber" type="DN" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemBroadWorksMobilityGetIMRNListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Request to get the list of BroadWorks Mobility IMRN numbers defined in the system.
        The response is either a SystemBroadWorksMobilityGetIMRNListResponse
        or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="searchCriteriaIMRN" type="SearchCriteriaIMRN" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemBroadWorksMobilityGetIMRNListResponse">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
          Response to SystemBroadWorksMobilityDnGetListRequest.
        </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="imrnNumber" type="DN" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemBroadWorksMobilityGetMobileNetworkIMRNListRequest">
    <xs:annotation>
      <xs:documentation>
        Get a list of BroadWorks Mobility IMRN numbers from a Mobile Network.
        The response is either a SystemBroadWorksMobilityGetMobileNetworkIMRNListResponse
        or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="mobileNetworkName" type="BroadWorksMobilityMobileNetworkName"/>
          <xs:element name="searchCriteriaIMRN" type="SearchCriteriaIMRN" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemBroadWorksMobilityGetMobileNetworkIMRNListResponse">
    <xs:annotation>
      <xs:documentation>
          Response to SystemBroadWorksMobilityGetMobileNetworkIMRNListRequest.
        </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="imrnNumber" type="DN" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemBroadWorksMobilityMobileNetworkAddRequest">
    <xs:annotation>
      <xs:documentation>
        Add a Mobile Network.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="BroadWorksMobilityMobileNetworkName"/>
          <xs:element name="scfSignalingNetAddress" type="NetAddress" minOccurs="0"/>
          <xs:element name="scfSignalingPort" type="Port" minOccurs="0"/>
          <xs:element name="refreshPeriodSeconds" type="SCFRefreshPeriodSeconds"/>
          <xs:element name="maxConsecutiveFailures" type="SCFMaxConsecutiveFailures"/>
          <xs:element name="maxResponseWaitTimeMilliseconds" type="SCFMaxResponseWaitTimeMilliseconds"/>
          <xs:element name="enableAnnouncementSuppression" type="xs:boolean"/>
          <xs:element name="serviceAccessCodeListName" type="ServiceAccessCodeListName" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemBroadWorksMobilityMobileNetworkModifyRequest">
    <xs:annotation>
      <xs:documentation>
        Modify a Mobile Network.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="BroadWorksMobilityMobileNetworkName"/>
          <xs:element name="newName" type="BroadWorksMobilityMobileNetworkName" minOccurs="0"/>
          <xs:element name="scfSignalingNetAddress" type="NetAddress" minOccurs="0" nillable="true"/>
          <xs:element name="scfSignalingPort" type="Port" minOccurs="0" nillable="true"/>
          <xs:element name="refreshPeriodSeconds" type="SCFRefreshPeriodSeconds" minOccurs="0"/>
          <xs:element name="maxConsecutiveFailures" type="SCFMaxConsecutiveFailures" minOccurs="0"/>
          <xs:element name="maxResponseWaitTimeMilliseconds" type="SCFMaxResponseWaitTimeMilliseconds" minOccurs="0"/>
          <xs:element name="enableAnnouncementSuppression" type="xs:boolean" minOccurs="0"/>
          <xs:element name="serviceAccessCodeListName" type="ServiceAccessCodeListName" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemBroadWorksMobilityMobileNetworkGetRequest">
    <xs:annotation>
      <xs:documentation>
        Get a Mobile Network.
        The response is either SystemBroadWorksMobilityMobileNetworkGetResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="BroadWorksMobilityMobileNetworkName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemBroadWorksMobilityMobileNetworkGetResponse">
    <xs:annotation>
      <xs:documentation>
        The response to a SystemBroadWorksMobilityMobileNetworkGetRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="scfSignalingNetAddress" type="NetAddress" minOccurs="0"/>
          <xs:element name="scfSignalingPort" type="Port" minOccurs="0"/>
          <xs:element name="refreshPeriodSeconds" type="SCFRefreshPeriodSeconds"/>
          <xs:element name="maxConsecutiveFailures" type="SCFMaxConsecutiveFailures"/>
          <xs:element name="maxResponseWaitTimeMilliseconds" type="SCFMaxResponseWaitTimeMilliseconds"/>
          <xs:element name="enableAnnouncementSuppression" type="xs:boolean"/>
          <xs:element name="serviceAccessCodeListName" type="ServiceAccessCodeListName" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemBroadWorksMobilityMobileNetworkGetListRequest">
    <xs:annotation>
      <xs:documentation>
        Get the list of Mobile Networks.
        The response is either SystemBroadWorksMobilityMobileNetworkGetListResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemBroadWorksMobilityMobileNetworkGetListResponse">
    <xs:annotation>
      <xs:documentation>
        The response to a SystemBroadWorksMobilityMobileNetworkGetListRequest.
        Contains a table with column headings: "Name", "SCF Signaling Net Address", "SCF Signaling Port"
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="mobileNetworkTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemBroadWorksMobilityMobileNetworkDeleteRequest">
    <xs:annotation>
      <xs:documentation>
        Delete a Mobile Network.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="BroadWorksMobilityMobileNetworkName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemBroadWorksMobilityServiceAccessCodeListAddRequest">
    <xs:annotation>
      <xs:documentation>
        Add a Service Access Code list.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="ServiceAccessCodeListName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemBroadWorksMobilityServiceAccessCodeListModifyRequest">
    <xs:annotation>
      <xs:documentation>
        Modify a Service Access Code list.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="ServiceAccessCodeListName"/>
          <xs:element name="newName" type="ServiceAccessCodeListName" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemBroadWorksMobilityServiceAccessCodeListDeleteRequest">
    <xs:annotation>
      <xs:documentation>
        Delete a Service Access Code list.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="ServiceAccessCodeListName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemBroadWorksMobilityServiceAccessCodeListGetListRequest">
    <xs:annotation>
      <xs:documentation>
        Get the list of Service Access Code lists.
        The response is either SystemBroadWorksMobilityServiceAccessCodeListGetListResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemBroadWorksMobilityServiceAccessCodeListGetListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to SystemBroadWorksMobilityServiceAccessCodeListGetListRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="name" type="ServiceAccessCodeListName" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemBroadWorksMobilityServiceAccessCodeListUsageGetRequest">
    <xs:annotation>
      <xs:documentation>
        Get all the Mobile Networks using a given Service Access Code list.
        The response is either SystemBroadWorksMobilityServiceAccessCodeListUsageGetResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceAccessCodeListName" type="ServiceAccessCodeListName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemBroadWorksMobilityServiceAccessCodeListUsageGetResponse">
    <xs:annotation>
      <xs:documentation>
        Response to SystemBroadWorksMobilityServiceAccessCodeListUsageGetRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="mobileNetworkName" type="BroadWorksMobilityMobileNetworkName" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemBroadWorksMobilityServiceAccessCodeGetListRequest21">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Get a list of system service access codes.
        The response is either SystemBroadWorksMobilityServiceAccessCodeGetListResponse21 or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceAccessCodeListName" type="ServiceAccessCodeListName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemBroadWorksMobilityServiceAccessCodeGetListResponse21">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Response to SystemBroadWorksMobilityServiceAccessCodeGetListRequest21.
        Contains a table with column headings: "Country Code", "Service Access Code", "Description"
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="serviceAccessCodeTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemBroadWorksMobilityServiceAccessCodeAddRequest21">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Add a service access code to a list.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceAccessCodeListName" type="ServiceAccessCodeListName"/>
          <xs:element name="countryCode" type="CountryCode"/>
          <xs:element name="serviceAccessCode" type="ServiceAccessCode"/>
          <xs:element name="description" type="ServiceAccessCodeDescription" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemBroadWorksMobilityServiceAccessCodeDeleteRequest21">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Delete a service access code from a list.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceAccessCodeListName" type="ServiceAccessCodeListName"/>
          <xs:element name="countryCode" type="CountryCode"/>
          <xs:element name="serviceAccessCode" type="ServiceAccessCode"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemBroadWorksMobilityServiceAccessCodeModifyRequest21">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Modify a service access code.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceAccessCodeListName" type="ServiceAccessCodeListName"/>
          <xs:element name="countryCode" type="CountryCode"/>
          <xs:element name="serviceAccessCode" type="ServiceAccessCode"/>
          <xs:element name="description" type="ServiceAccessCodeDescription" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemBroadWorksMobilityGetRequest21">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Get the broadworks mobility system parameters.
        The response is either a SystemBroadWorksMobilityGetResponse21 or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemBroadWorksMobilityGetResponse21">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        The response to a SystemBroadWorksMobilityGetRequest21.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="enableLocationServices" type="xs:boolean"/>
          <xs:element name="enableMSRNLookup" type="xs:boolean"/>
          <xs:element name="enableMobileStateChecking" type="xs:boolean"/>
          <xs:element name="denyCallOriginations" type="xs:boolean"/>
          <xs:element name="denyCallTerminations" type="xs:boolean"/>
          <xs:element name="imrnTimeoutMillisecnds" type="IMRNTimeoutMilliseconds"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemBroadWorksMobilityModifyRequest21">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Modify the BroadWorks Mobility system parameters.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="enableLocationServices" type="xs:boolean" minOccurs="0"/>
          <xs:element name="enableMSRNLookup" type="xs:boolean" minOccurs="0"/>
          <xs:element name="enableMobileStateChecking" type="xs:boolean" minOccurs="0"/>
          <xs:element name="denyCallOriginations" type="xs:boolean" minOccurs="0"/>
          <xs:element name="denyCallTerminations" type="xs:boolean" minOccurs="0"/>
          <xs:element name="imrnTimeoutMilliseconds" type="IMRNTimeoutMilliseconds" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemBroadWorksMobilityMobileSubscriberDirectoryNumberGetSummaryListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Request a summary table of all Mobile Subscriber Directory Numbers in a system.
        The response is either SystemBroadWorksMobilityMobileSubscriberDirectoryNumberGetSummaryListResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="responseSizeLimit" type="ResponseSizeLimit" minOccurs="0"/>
          <xs:element name="searchCriteriaMobileSubscriberDirectoryNumber" type="SearchCriteriaMobileSubscriberDirectoryNumber" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaExactMobileNetwork" type="SearchCriteriaExactMobileNetwork" minOccurs="0"/>
          <xs:element name="searchCriteriaServiceProviderId" type="SearchCriteriaServiceProviderId" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaExactOrganizationType" type="SearchCriteriaExactOrganizationType" minOccurs="0"/>
          <xs:element name="searchCriteriaGroupId" type="SearchCriteriaGroupId" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaUserId" type="SearchCriteriaUserId" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaUserLastName" type="SearchCriteriaUserLastName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaUserFirstName" type="SearchCriteriaUserFirstName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaDn" type="SearchCriteriaDn" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaExtension" type="SearchCriteriaExtension" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemBroadWorksMobilityMobileSubscriberDirectoryNumberGetSummaryListResponse">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Response to SystemBroadWorksMobilityMobileSubscriberDirectoryNumberGetSummaryListRequest.
        The response contains a table with columns: "Mobile Number", "Mobile Network", "Service Provider Id", "Is Enterprise", "Group Id", "User Id", "Last Name", "First Name", "Hiragana Last Name", "Hiragana First Name", "Phone Number" and "Extension".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="mobileSubscriberDirectoryNumbersSummaryTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ServiceProviderBroadWorksMobilityGetRequest19sp1">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Get the service provider BroadWorks Mobility service settings.
        The response is either a ServiceProviderBroadWorksMobilityGetResponse19sp1 or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ServiceProviderBroadWorksMobilityGetResponse19sp1">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        The response to a ServiceProviderBroadWorksMobilityGetRequest19sp1.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="useSettingLevel" type="BroadWorksMobilityServiceProviderSettingLevel"/>
          <xs:element name="enableLocationServices" type="xs:boolean"/>
          <xs:element name="enableMSRNLookup" type="xs:boolean"/>
          <xs:element name="enableMobileStateChecking" type="xs:boolean"/>
          <xs:element name="denyCallOriginations" type="xs:boolean"/>
          <xs:element name="denyCallTerminations" type="xs:boolean"/>
          <xs:element name="enableAnnouncementSuppression" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ServiceProviderBroadWorksMobilityModifyRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Modify the service provider level BroadWorks Mobility service settings.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="useSettingLevel" type="BroadWorksMobilityServiceProviderSettingLevel" minOccurs="0"/>
          <xs:element name="enableLocationServices" type="xs:boolean" minOccurs="0"/>
          <xs:element name="enableMSRNLookup" type="xs:boolean" minOccurs="0"/>
          <xs:element name="enableMobileStateChecking" type="xs:boolean" minOccurs="0"/>
          <xs:element name="denyCallOriginations" type="xs:boolean" minOccurs="0"/>
          <xs:element name="denyCallTerminations" type="xs:boolean" minOccurs="0"/>
          <xs:element name="enableAnnouncementSuppression" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ServiceProviderBroadWorksMobilityMobileSubscriberDirectoryNumberAddListRequest21">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Adds Mobile Subscriber Directory Numbers to a service provider-mobile network combination. It is possible to add a single DN,
        or a list of DNs.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="mobileNetworkName" type="BroadWorksMobilityMobileNetworkName"/>
          <xs:element name="mobileSubscriberDirectoryNumber" type="DN" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ServiceProviderBroadWorksMobilityMobileSubscriberDirectoryNumberDeleteListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Deletes Mobile Subscriber Directory Numbers from a service provider. It is possible to delete either: a single number,
        or a list of numbers.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="mobileSubscriberDirectoryNumber" type="DN" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ServiceProviderBroadWorksMobilityMobileSubscriberDirectoryNumberGetAvailableListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Request a list of available Mobile Subscriber Directory Numbers not yet assigned to any group. This command is applicable only for service providers and will fail for enterprises.
        The response is either ServiceProviderBroadWorksMobilityMobileSubscriberDirectoryNumberGetAvailableListResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ServiceProviderBroadWorksMobilityMobileSubscriberDirectoryNumberGetAvailableListResponse">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Response to ServiceProviderBroadWorksMobilityMobileSubscriberDirectoryNumberGetAvailableListRequest.
        Contains a list of available Mobile Subscriber Directory Numbers not yet assigned to any group.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="availableMobileSubscriberDirectoryNumber" type="DN" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ServiceProviderBroadWorksMobilityMobileSubscriberDirectoryNumberGetSummaryListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Request a summary table of all Mobile Subscriber Directory Numbers in a service provider. This command is applicable only for service providers and will fail for enterprises.
        The response is either ServiceProviderBroadWorksMobilityMobileSubscriberDirectoryNumberGetSummaryListResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="responseSizeLimit" type="ResponseSizeLimit" minOccurs="0"/>
          <xs:element name="searchCriteriaMobileSubscriberDirectoryNumber" type="SearchCriteriaMobileSubscriberDirectoryNumber" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaGroupId" type="SearchCriteriaGroupId" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaExactMobileNetwork" type="SearchCriteriaExactMobileNetwork" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ServiceProviderBroadWorksMobilityMobileSubscriberDirectoryNumberGetSummaryListResponse">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Response to ServiceProviderBroadWorksMobilityMobileSubscriberDirectoryNumberGetSummaryListRequest.
        The column headings are "Phone Number", "Group Id" and "Mobile Network".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="mobileSubscriberDirectoryNumbersSummaryTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="EnterpriseBroadWorksMobilityMobileSubscriberDirectoryNumberGetAvailableListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Request a list of available Mobile Subscriber Directory Numbers not yet assigned to any user.
        The response is either EnterpriseBroadWorksMobilityMobileSubscriberDirectoryNumberGetAvailableListResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="EnterpriseBroadWorksMobilityMobileSubscriberDirectoryNumberGetAvailableListResponse">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Response to EnterpriseBroadWorksMobilityMobileSubscriberDirectoryNumberGetAvailableListRequest.
        Contains a list of available Mobile Subscriber Directory Numbers not yet assigned to any user.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="availableMobileSubscriberDirectoryNumber" type="DN" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="EnterpriseBroadWorksMobilityMobileSubscriberDirectoryNumberGetAssignmentListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Request a summary table of all Mobile Subscriber Directory Numbers in an enterprise.
        The response is either EnterpriseBroadWorksMobilityMobileSubscriberDirectoryNumberGetAssignmentListResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="responseSizeLimit" type="ResponseSizeLimit" minOccurs="0"/>
          <xs:element name="searchCriteriaMobileSubscriberDirectoryNumber" type="SearchCriteriaMobileSubscriberDirectoryNumber" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaExactUserGroup" type="SearchCriteriaExactUserGroup" minOccurs="0"/>
          <xs:element name="searchCriteriaUserId" type="SearchCriteriaUserId" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaUserLastName" type="SearchCriteriaUserLastName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaUserFirstName" type="SearchCriteriaUserFirstName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaDn" type="SearchCriteriaDn" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaExtension" type="SearchCriteriaExtension" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaExactUserDepartment" type="SearchCriteriaExactUserDepartment" minOccurs="0"/>
          <xs:element name="searchCriteriaExactMobileNetwork" type="SearchCriteriaExactMobileNetwork" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="EnterpriseBroadWorksMobilityMobileSubscriberDirectoryNumberGetAssignmentListResponse">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Response to EnterpriseBroadWorksMobilityMobileSubscriberDirectoryNumberGetAssignmentListRequest.
        The response contains a table with columns: "Mobile Number", "User Id",
        "Last Name", "First Name","Phone Number","Extension", "Group Id", "Department" and "Mobile Network".
        The "Mobile Number" column contains a single DN.
        The "User Id", "Last Name" and "First Name" columns contains the corresponding attributes of the user possessing the DN(s).
        The "Phone Number" column contains a single DN.
        The "Group Id"   column contains the Group Id of the user.
        The "Department" column contains the department of the user if it is part of a department.
        The "Mobile Network" column contains the Mobile Network the number belongs to.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="mobileSubscriberDirectoryNumbersAssignmentTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupBroadWorksMobilityGetRequest19sp1">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Get the group's BroadWorks Mobility settings.
        The response is either a GroupBroadWorksMobilityGetResponse19sp1 or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupBroadWorksMobilityGetResponse19sp1">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        The response to a GroupBroadWorksMobilityGetRequest19sp1.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="useSettingLevel" type="BroadWorksMobilityGroupSettingLevel"/>
          <xs:element name="enableLocationServices" type="xs:boolean"/>
          <xs:element name="enableMSRNLookup" type="xs:boolean"/>
          <xs:element name="enableMobileStateChecking" type="xs:boolean"/>
          <xs:element name="denyCallOriginations" type="xs:boolean"/>
          <xs:element name="denyCallTerminations" type="xs:boolean"/>
          <xs:element name="enableAnnouncementSuppression" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupBroadWorksMobilityModifyRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Modify the group level broadworks mobility service settings.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="useSettingLevel" type="BroadWorksMobilityGroupSettingLevel" minOccurs="0"/>
          <xs:element name="enableLocationServices" type="xs:boolean" minOccurs="0"/>
          <xs:element name="enableMSRNLookup" type="xs:boolean" minOccurs="0"/>
          <xs:element name="enableMobileStateChecking" type="xs:boolean" minOccurs="0"/>
          <xs:element name="denyCallOriginations" type="xs:boolean" minOccurs="0"/>
          <xs:element name="denyCallTerminations" type="xs:boolean" minOccurs="0"/>
          <xs:element name="enableAnnouncementSuppression" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupBroadWorksMobilityMobileSubscriberDirectoryNumberAssignListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Assign Mobile Subscriber Directory Numbers to a group. It is possible to
        add a single DN,or a list of DNs.
.       This command is applicable only for group in a service provider and will fail for a group in an enterprise.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="mobileSubscriberDirectoryNumber" type="DN" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupBroadWorksMobilityMobileSubscriberDirectoryNumberGetAssignmentListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Get the list of assigned and unassigned Mobile Subscriber Directory Numbers in a group. Each DN can be assigned to a user.
.       This command is applicable only for group in a service provider and will fail for a group in an enterprise.
        The response is either a GroupBroadWorksMobilityMobileSubscriberDirectoryNumberGetAssignmentListResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="responseSizeLimit" type="ResponseSizeLimit" minOccurs="0"/>
          <xs:element name="searchCriteriaMobileSubscriberDirectoryNumber" type="SearchCriteriaMobileSubscriberDirectoryNumber" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaUserId" type="SearchCriteriaUserId" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaUserLastName" type="SearchCriteriaUserLastName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaUserFirstName" type="SearchCriteriaUserFirstName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaDn" type="SearchCriteriaDn" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaExactUserDepartment" type="SearchCriteriaExactUserDepartment" minOccurs="0"/>
          <xs:element name="searchCriteriaExtension" type="SearchCriteriaExtension" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupBroadWorksMobilityMobileSubscriberDirectoryNumberGetAssignmentListResponse">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Response to the GroupBroadWorksMobilityMobileSubscriberDirectoryNumberGetAssignmentListRequest.
        The response contains a table with columns: "Mobile Number", "User Id",
        "Last Name", "First Name","Phone Number", "Extension", "Department",.
        The "Mobile Number" column contains a single DN.
        The "User Id", "Last Name" and "First Name" columns contains the corresponding attributes of the user possessing the DN(s).
        The "Phone Number" column contains a single DN.
        The "Department" column contains the department of the user if it is part of a department.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="mobileSubscriberDirectoryNumberTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupBroadWorksMobilityMobileSubscriberDirectoryNumberGetAvailableListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Request a list of available Mobile Subscriber Directory Numbers not yet assigned to any user.
.       This command is applicable only for group in a service provider and will fail for a group in an enterprise.
        The response is either GroupBroadWorksMobilityMobileSubscriberDirectoryNumberGetAvailableListResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupBroadWorksMobilityMobileSubscriberDirectoryNumberGetAvailableListResponse">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Response to GroupBroadWorksMobilityMobileSubscriberDirectoryNumberGetAvailableListRequest.
        Contains a list of available Mobile Subscriber Directory Numbers not yet assigned to any user.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="mobileSubscriberDirectoryNumber" type="DN" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupBroadWorksMobilityMobileSubscriberDirectoryNumberUnassignListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Unassign Mobile Subscriber Directory Numbers from a group. It is possible to unassign either: a single DN, or a list of DNs.
.       This command is applicable only for group in a service provider and will fail for a group in an enterprise.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="mobileSubscriberDirectoryNumber" type="DN" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserBroadWorksMobilityGetRequest21">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Get the user's BroadWorks Mobility service settings.
        The response is either a UserBroadWorksMobilityGetResponse21 or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserBroadWorksMobilityGetResponse21">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
         Response to a UserBroadWorksMobilityGetRequest21.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="isActive" type="xs:boolean"/>
          <xs:element name="useMobileIdentityCallAnchoring" type="xs:boolean"/>
          <xs:element name="preventCallsToOwnMobiles" type="xs:boolean"/>
          <xs:element name="mobileIdentity" type="BroadWorksMobilityUserMobileIdentityEntry" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="profileIdentityDevicesToRing" type="BroadWorksMobilityPhoneToRing"/>
          <xs:element name="profileIdentityIncludeSharedCallAppearance" type="xs:boolean"/>
          <xs:element name="profileIdentityIncludeBroadworksAnywhere" type="xs:boolean"/>
          <xs:element name="profileIdentityIncludeExecutiveAssistant" type="xs:boolean"/>
          <xs:element name="profileIdentityMobileNumberAlerted" type="DN" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserBroadWorksMobilityModifyRequest21">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Modify the user's BroadWorks Mobility service settings.
        The response is either a SuccessResponse or an ErrorResponse.

        The isActive, useMobileIdentityCallAnchoring, and preventCallsToOwnMobiles parameters can be modified by users with Group Authorization Level and above.
        The mobileIdentity, profileIdentityDevicesToRing, rofileIdentityIncludeSharedCallAppearance, profileIdentityIncludeBroadworksAnywhere mobileIdentity and profileIdentityMobilityNumbersAlerted parameters can be modified by users with User Authorization Level and above when the BroadWorks Mobility service is turned on.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="isActive" type="xs:boolean" minOccurs="0"/>
          <xs:element name="useMobileIdentityCallAnchoring" type="xs:boolean" minOccurs="0"/>
          <xs:element name="preventCallsToOwnMobiles" type="xs:boolean" minOccurs="0"/>
          <xs:element name="mobileIdentity" type="BroadWorksMobilityUserMobileIdentityModifyEntry" minOccurs="0" maxOccurs="10"/>
          <xs:element name="profileIdentityDevicesToRing" type="BroadWorksMobilityPhoneToRing" minOccurs="0"/>
          <xs:element name="profileIdentityIncludeSharedCallAppearance" type="xs:boolean" minOccurs="0"/>
          <xs:element name="profileIdentityIncludeBroadworksAnywhere" type="xs:boolean" minOccurs="0"/>
          <xs:element name="profileIdentityIncludeExecutiveAssistant" type="xs:boolean" minOccurs="0"/>
          <xs:element name="profileIdentityMobilityNumbersAlerted" type="BroadWorksMobilityAlertingMobileNumberReplacementList" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserBroadWorksMobilityMobileIdentityAddRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Add a mobile identity to the user's list of mobile identities.
        The response is either a SuccessResponse or an ErrorResponse.

        The request fails when the devicesToRing is set to Mobile and the mobileNumberAlerted list is empty.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="mobileNumber" type="DN"/>
          <xs:element name="description" type="BroadWorksMobilityUserMobileIdentityDescription" minOccurs="0"/>
          <xs:element name="isPrimary" type="xs:boolean"/>
          <xs:element name="enableAlerting" type="xs:boolean"/>
          <xs:element name="alertAgentCalls" type="xs:boolean"/>
          <xs:element name="alertClickToDialCalls" type="xs:boolean"/>
          <xs:element name="alertGroupPagingCalls" type="xs:boolean"/>
          <xs:element name="useMobilityCallingLineID" type="xs:boolean"/>
          <xs:element name="enableDiversionInhibitor" type="xs:boolean"/>
          <xs:element name="requireAnswerConfirmation" type="xs:boolean"/>
          <xs:element name="broadworksCallControl" type="xs:boolean"/>
          <xs:element name="useSettingLevel" type="BroadWorksMobilityUserSettingLevel"/>
          <xs:element name="denyCallOriginations" type="xs:boolean"/>
          <xs:element name="denyCallTerminations" type="xs:boolean"/>
          <xs:element name="devicesToRing" type="BroadWorksMobilityPhoneToRing"/>
          <xs:element name="includeSharedCallAppearance" type="xs:boolean"/>
          <xs:element name="includeBroadworksAnywhere" type="xs:boolean"/>
          <xs:element name="includeExecutiveAssistant" type="xs:boolean"/>
          <xs:element name="mobileNumberAlerted" type="DN" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="enableCallAnchoring" type="xs:boolean"/>
          <xs:element name="timeSchedule" type="ScheduleGlobalKey" minOccurs="0"/>
          <xs:element name="holidaySchedule" type="ScheduleGlobalKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserBroadWorksMobilityMobileIdentityDeleteRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Delete a mobile identity from the user's list of mobile identities.
        The response is either a SuccessResponse or an ErrorResponse.
        When a delete request is attempted on the primary mobile identity, the delete will fail unless it is the last mobile identity in the users list.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="mobileNumber" type="DN"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserBroadWorksMobilityMobileIdentityGetRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Get the settings for a user's specified mobile identity.
        The response is either a UserBroadWorksMobilityMobileIdentityGetResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="mobileNumber" type="DN"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserBroadWorksMobilityMobileIdentityGetResponse">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
         Response to a UserBroadWorksMobilityMobileIdentityGetRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="description" type="BroadWorksMobilityUserMobileIdentityDescription" minOccurs="0"/>
          <xs:element name="isPrimary" type="xs:boolean"/>
          <xs:element name="enableAlerting" type="xs:boolean"/>
          <xs:element name="alertAgentCalls" type="xs:boolean"/>
          <xs:element name="alertClickToDialCalls" type="xs:boolean"/>
          <xs:element name="alertGroupPagingCalls" type="xs:boolean"/>
          <xs:element name="useMobilityCallingLineID" type="xs:boolean"/>
          <xs:element name="enableDiversionInhibitor" type="xs:boolean"/>
          <xs:element name="requireAnswerConfirmation" type="xs:boolean"/>
          <xs:element name="broadworksCallControl" type="xs:boolean"/>
          <xs:element name="useSettingLevel" type="BroadWorksMobilityUserSettingLevel"/>
          <xs:element name="denyCallOriginations" type="xs:boolean"/>
          <xs:element name="denyCallTerminations" type="xs:boolean"/>
          <xs:element name="devicesToRing" type="BroadWorksMobilityPhoneToRing"/>
          <xs:element name="includeSharedCallAppearance" type="xs:boolean"/>
          <xs:element name="includeBroadworksAnywhere" type="xs:boolean"/>
          <xs:element name="includeExecutiveAssistant" type="xs:boolean"/>
          <xs:element name="mobileNumberAlerted" type="DN" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="enableCallAnchoring" type="xs:boolean"/>
          <xs:element name="timeSchedule" type="ScheduleGlobalKey" minOccurs="0"/>
          <xs:element name="holidaySchedule" type="ScheduleGlobalKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserBroadWorksMobilityMobileIdentityModifyRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Modify the settings for one of the user's BroadWorks Mobility mobile Identities.
        The response is either a SuccessResponse or an ErrorResponse.
        The request fails when enableAlerting or timeSchedule or holidaySchedule are included in the request when the users use mobile identity call anchoring controls is disabled.

        The description, enableAlerting, alertAgentCalls, alertClickToDialCalls, alertGroupPagingCalls, useMobilityCallingLineID, enableDiversionInhibitor, requireAnswerConfirmation, broadworksCallControl, devicesToRing, includeSharedCallAppearance, includeBroadworksAnywhere, includeExecutiveAssistance, mobileNumberAlerted, enableCallAnchoring, timeSchedule and holidaySchedule  parameters require an authorization level of User for modification when the BroadWorks Mobility service is on.
        The isPrimary, useSettingLevel, denyCallOrigination, and denyCallTerminiations parameters require an authorization level of Group for modification.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="mobileNumber" type="DN"/>
          <xs:element name="description" type="BroadWorksMobilityUserMobileIdentityDescription" minOccurs="0" nillable="true"/>
          <xs:element name="isPrimary" type="xs:boolean" minOccurs="0"/>
          <xs:element name="enableAlerting" type="xs:boolean" minOccurs="0"/>
          <xs:element name="alertAgentCalls" type="xs:boolean" minOccurs="0"/>
          <xs:element name="alertClickToDialCalls" type="xs:boolean" minOccurs="0"/>
          <xs:element name="alertGroupPagingCalls" type="xs:boolean" minOccurs="0"/>
          <xs:element name="useMobilityCallingLineID" type="xs:boolean" minOccurs="0"/>
          <xs:element name="enableDiversionInhibitor" type="xs:boolean" minOccurs="0"/>
          <xs:element name="requireAnswerConfirmation" type="xs:boolean" minOccurs="0"/>
          <xs:element name="broadworksCallControl" type="xs:boolean" minOccurs="0"/>
          <xs:element name="useSettingLevel" type="BroadWorksMobilityUserSettingLevel" minOccurs="0"/>
          <xs:element name="denyCallOriginations" type="xs:boolean" minOccurs="0"/>
          <xs:element name="denyCallTerminations" type="xs:boolean" minOccurs="0"/>
          <xs:element name="devicesToRing" type="BroadWorksMobilityPhoneToRing" minOccurs="0"/>
          <xs:element name="includeSharedCallAppearance" type="xs:boolean" minOccurs="0"/>
          <xs:element name="includeBroadworksAnywhere" type="xs:boolean" minOccurs="0"/>
          <xs:element name="includeExecutiveAssistant" type="xs:boolean" minOccurs="0"/>
          <xs:element name="mobileNumbersAlerted" type="BroadWorksMobilityAlertingMobileNumberReplacementList" minOccurs="0" nillable="true"/>
          <xs:element name="enableCallAnchoring" type="xs:boolean" minOccurs="0"/>
          <xs:element name="timeSchedule" type="ScheduleGlobalKey" minOccurs="0" nillable="true"/>
          <xs:element name="holidaySchedule" type="ScheduleGlobalKey" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="ServiceAccessCodeListName">
    <xs:annotation>
      <xs:documentation>
        Name of a Service Access Code list.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="80"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="BroadWorksMobilityUserMobileIdentityDescription">
    <xs:annotation>
      <xs:documentation>
        Mobile Identity description.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="BroadWorksMobilityUserMobileIdentityEntry">
    <xs:annotation>
      <xs:documentation>
        User's Mobile Identity Read Entry
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="mobileNumber" type="DN"/>
      <xs:element name="description" type="BroadWorksMobilityUserMobileIdentityDescription" minOccurs="0"/>
      <xs:element name="isPrimary" type="xs:boolean"/>
      <xs:element name="enableAlerting" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BroadWorksMobilityUserMobileIdentityModifyEntry">
    <xs:annotation>
      <xs:documentation>
        User's Mobile Identity Modify Entry
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="mobileNumber" type="DN"/>
      <xs:element name="description" type="BroadWorksMobilityUserMobileIdentityDescription" minOccurs="0" nillable="true"/>
      <xs:element name="isPrimary" type="xs:boolean" minOccurs="0"/>
      <xs:element name="enableAlerting" type="xs:boolean" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BroadWorksMobilityAlertingMobileNumberReplacementList">
    <xs:annotation>
      <xs:documentation>
        A list of Mobile Numbers to be alerted.
        By convention, an element of this type may be set nil to clear the list.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="mobileNumber" type="DN" minOccurs="1" maxOccurs="10"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
