ocip_schema/Services/OCISchemaServiceRouteList.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- ********************************************************************** -->
<!-- Copyright (c) 2000-2012 BroadSoft, Inc.  All rights reserved.          -->
<!-- ********************************************************************** -->
<!-- O C I   X M L   S C H E M A  :  S E R V I C E  P A R T                 -->
<!--                                                                        -->
<!-- R O U T E   L I S T  S E R V I C E                                     -->
<!--                                                                        -->
<!-- This file defines the XML Schema for the BroadSoft Application Server  -->
<!-- Open Client Interface (OCI).                                           -->
<!-- ********************************************************************** -->

<xs:schema xmlns:xs             = "http://www.w3.org/2001/XMLSchema"
           xmlns:core           = "C"
           xmlns                = ""
           attributeFormDefault = "qualified"
           elementFormDefault   = "qualified">

  <xs:import namespace      = "C"
             schemaLocation = "../OCISchemaBASE.xsd"/>

  <xs:include schemaLocation="../OCISchemaDataTypes.xsd"/>
  <xs:include schemaLocation="../OCISchemaSearchCriteria.xsd"/>

  <!-- ********************************************************************************** -->
  <!-- R O U T E   L I S T    R E Q U E S T S  A N D  R E S P O N S E S                   -->
  <!-- ********************************************************************************** -->
  <!--
  Requests and responses are listed here in alphabetical order.
  The non-primitive attributes inside the commands are defined in another
  section of the schema.

  Requests in this schema file:
    SystemRouteListEnterpriseTrunkNumberRangeGetSummaryListRequest
    ServiceProviderRouteListEnterpriseTrunkNumberRangeGetSummaryListRequest
    EnterpriseRouteListEnterpriseTrunkNumberRangeGetSummaryListRequest
    ServiceProviderRouteListEnterpriseTrunkNumberRangeAddListRequest
    ServiceProviderRouteListEnterpriseTrunkNumberRangeDeleteListRequest
    ServiceProviderRouteListEnterpriseTrunkNumberRangeActivateListRequest
    ServiceProviderRouteListEnterpriseTrunkNumberRangeDeactivateListRequest
    ServiceProviderRouteListEnterpriseTrunkNumberRangeGetAvailableListRequest
    EnterpriseRouteListEnterpriseTrunkNumberRangeGetAvailableListRequest
    GroupRouteListEnterpriseTrunkNumberRangeGetSummaryListRequest
    GroupRouteListEnterpriseTrunkNumberRangeAssignListRequest
    GroupRouteListEnterpriseTrunkNumberRangeUnassignListRequest
    GroupRouteListEnterpriseTrunkNumberRangeGetAvailableListRequest
    UserRouteListGetRequest
    UserRouteListModifyRequest

  -->

  <xs:complexType name="SystemRouteListEnterpriseTrunkNumberRangeGetSummaryListRequest">
    <xs:annotation>
      <xs:documentation>
        Request a summary table of all enterprise trunk number ranges in the system.
        The response is either SystemRouteListEnterpriseTrunkNumberRangeGetSummaryListResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemRouteListEnterpriseTrunkNumberRangeGetSummaryListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to SystemRouteListEnterpriseTrunkNumberRangeGetSummaryListRequest.
        The column headings are "Number Range Start", "Number Range End", "Service Provider Id", "Is Enterprise", "User Id", "Enterprise Trunk" and "Is Active".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="numberRangeSummaryTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ServiceProviderRouteListEnterpriseTrunkNumberRangeGetSummaryListRequest">
    <xs:annotation>
      <xs:documentation>
        Request a summary table of all enterprise trunk number ranges in the service provider.
        The response is either ServiceProviderRouteListEnterpriseTrunkNumberRangeGetSummaryListResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ServiceProviderRouteListEnterpriseTrunkNumberRangeGetSummaryListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to ServiceProviderRouteListEnterpriseTrunkNumberRangeGetSummaryListRequest.
        The column headings are "Number Range Start", "Number Range End", "Group Id" and "Is Active".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="numberRangeSummaryTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="EnterpriseRouteListEnterpriseTrunkNumberRangeGetSummaryListRequest">
    <xs:annotation>
      <xs:documentation>
        Request a summary table of all enterprise trunk number ranges in the enterprise.
        The response is either EnterpriseRouteListEnterpriseTrunkNumberRangeGetSummaryListResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="EnterpriseRouteListEnterpriseTrunkNumberRangeGetSummaryListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to EnterpriseRouteListEnterpriseTrunkNumberRangeGetSummaryListRequest.
        The response contains a table with columns: "Number Range Start", "Number Range End", "Group Id", "User Id",
        "Last Name", "First Name", "Hiragana Last Name", "Hiragana First Name", "Phone Number", "Extension", "Department",
        "Email Address", "Enterprise Trunk" and "Is Active".
        The "User Id", "Last Name", "First Name", "Hiragana Last Name", "Hiragana First Name", "Phone Number",
        "Extension", "Department" and "Email Address" columns contains the corresponding attributes of the user possessing the number range.
        The "Enterprise Trunk" column contains the enterprise trunk the user possessing the number range belongs to.
        The "Is Active" column indicates if the number range has been activated.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="numberRangeSummaryTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ServiceProviderRouteListEnterpriseTrunkNumberRangeAddListRequest">
    <xs:annotation>
      <xs:documentation>
        Add number ranges to a service provider.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="numberRange" type="DNRange" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ServiceProviderRouteListEnterpriseTrunkNumberRangeDeleteListRequest">
    <xs:annotation>
      <xs:documentation>
        Delete number ranges from a service provider.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="numberRangeStart" type="DN" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ServiceProviderRouteListEnterpriseTrunkNumberRangeActivateListRequest">
    <xs:annotation>
      <xs:documentation>
        Activate number ranges in a service provider.
        It is not an error to activate an already activated number range.
        The command fails if executed when system level enterprise trunk number range activation is disabled.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="numberRangeStart" type="DN" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ServiceProviderRouteListEnterpriseTrunkNumberRangeDeactivateListRequest">
    <xs:annotation>
      <xs:documentation>
        Deactivate number ranges in a service provider.
        It is not an error to deactivate an already deactivated number range.
        The command fails if executed when system level enterprise trunk number range activation is disabled.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="numberRangeStart" type="DN" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ServiceProviderRouteListEnterpriseTrunkNumberRangeGetAvailableListRequest">
    <xs:annotation>
      <xs:documentation>
        Request a list of available number ranges not yet assigned to any group.
        The response is either ServiceProviderRouteListEnterpriseTrunkNumberRangeGetAvailableListResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ServiceProviderRouteListEnterpriseTrunkNumberRangeGetAvailableListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to ServiceProviderRouteListEnterpriseTrunkNumberRangeGetAvailableListRequest. Contains a list of available number ranges not yet assigned to any group.
        The column headings are "Number Range Start", "Number Range End" and "Is Active".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="availableNumberRangeTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="EnterpriseRouteListEnterpriseTrunkNumberRangeGetAvailableListRequest">
    <xs:annotation>
      <xs:documentation>
        Request a list of number ranges that are assigned to an enterprise and still available for assignment to users within the enterprise.
        The response is either EnterpriseRouteListEnterpriseTrunkNumberRangeGetAvailableListResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="EnterpriseRouteListEnterpriseTrunkNumberRangeGetAvailableListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to EnterpriseRouteListEnterpriseTrunkNumberRangeGetAvailableListRequest.
        Contains a list of number ranges that are assigned to an enterprise and still available for assignment to users within the enterprise.
        The column headings are "Number Range Start", "Number Range End" and "Is Active".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="availableNumberRangeTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRouteListEnterpriseTrunkNumberRangeGetSummaryListRequest">
    <xs:annotation>
      <xs:documentation>
        Get the list of assigned and unassigned enterprise trunknumber ranges in a group.
        The response is either GroupRouteListEnterpriseTrunkNumberRangeGetSummaryListResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRouteListEnterpriseTrunkNumberRangeGetSummaryListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to GroupRouteListEnterpriseTrunkNumberRangeGetSummaryListRequest.
        The response contains a table with columns: "Number Range Start", "Number Range End", "User Id",
        "Last Name", "First Name", "Hiragana Last Name", "Hiragana First Name", "Phone Number", "Extension",
        "Department", "Email Address", "Enterprise Trunk" and "Is Active".
        The "User Id", "Last Name", "First Name", "Hiragana Last Name", "Hiragana First Name", "Phone Number",
        "Extension", "Department" and "Email Address" columns contains the corresponding attributes of the user possessing the number range.
        The "Enterprise Trunk" column contains the enterprise trunk the user possessing the number range belongs to.
        The "Is Active" column indicates if the number range has been activated.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="numberRangeSummaryTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRouteListEnterpriseTrunkNumberRangeAssignListRequest">
    <xs:annotation>
      <xs:documentation>
        Assign a list of service provider number ranges to a group.
        The number ranges must have previously been added to the service provider.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="numberRangeStart" type="DN" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRouteListEnterpriseTrunkNumberRangeUnassignListRequest">
    <xs:annotation>
      <xs:documentation>
        Unassign a list of service provider number ranges from a group. The number ranges then become available for assignment to other groups.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="numberRangeStart" type="DN" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRouteListEnterpriseTrunkNumberRangeGetAvailableListRequest">
    <xs:annotation>
      <xs:documentation>
        Request a list of number ranges that are assigned to a group and still available for assignment to users within the group.
        The response is either GroupRouteListEnterpriseTrunkNumberRangeGetAvailableListResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupRouteListEnterpriseTrunkNumberRangeGetAvailableListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to GroupRouteListEnterpriseTrunkNumberRangeGetAvailableListRequest.
        Contains a list of number ranges that are assigned to a group and still available for assignment to users within the group.
        The column headings are "Number Range Start", "Number Range End" and "Is Active".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="availableNumberRangeTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserRouteListGetRequest">
    <xs:annotation>
      <xs:documentation>
        Get the route list setting and the list of number ranges assigned to a user.
        The response is either UserRouteListGetResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserRouteListGetResponse">
    <xs:annotation>
      <xs:documentation>
        Response to UserRouteListGetRequest.
        Contains the route list setting and a list of assigned number ranges.
        The column headings for assignedNumberRangeTable are "Number Range Start", "Number Range End" and "Is Active".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="treatOriginationsAndPBXRedirectionsAsScreened" type="xs:boolean"/>
          <xs:element name="useRouteListIdentityForNonEmergencyCalls" type="xs:boolean"/>
          <xs:element name="useRouteListIdentityForEmergencyCalls" type="xs:boolean"/>
          <xs:element name="assignedNumberRangeTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserRouteListModifyRequest">
    <xs:annotation>
      <xs:documentation>
        Modify the route list setting and the list of number ranges assigned to a user.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="treatOriginationsAndPBXRedirectionsAsScreened" type="xs:boolean" minOccurs="0"/>
          <xs:element name="useRouteListIdentityForNonEmergencyCalls" type="xs:boolean" minOccurs="0"/>
          <xs:element name="useRouteListIdentityForEmergencyCalls" type="xs:boolean" minOccurs="0"/>
          <xs:element name="assignedNumberRangeStartList" type="ReplacementDNList" nillable="true" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ReplacementDNList">
    <xs:annotation>
      <xs:documentation>
        A list of dns that replaces a previously configured list.
        By convention, an element of this type may be set nill to clear the list.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="phoneNumber" type="DN" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
