ocip_schema/Services/OCISchemaServiceSharedCallAppearance.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- ************************************************************************************ -->
<!-- Copyright © 2018 BroadSoft Inc. All rights reserved.-->
<!-- ************************************************************************************ -->
<!-- O C I   X M L   S C H E M A   S E R V I C E   P A R T                                -->
<!--                                                                                      -->
<!-- S H A R E D   C A L L   A P P E A R A N C E                                          -->
<!-- S E R V I C E                                                                        -->
<!--                                                                                      -->
<!-- This file defines the XML Schema for the BroadSoft Application Server                -->
<!-- Open Client Interface (OCI).                                                         -->
<!-- ************************************************************************************ -->
<xs:schema xmlns:core="C" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified">

  <xs:import namespace="C" schemaLocation="../OCISchemaBASE.xsd"/>

  <xs:include schemaLocation="../OCISchemaDataTypes.xsd"/>

  <!-- ************************************************************************************ -->
  <!-- S H A R E D   C A L L   A P P E A R A N C E                                          -->
  <!-- R E Q U E S T S   A N D   R E S P O N S E S                                          -->
  <!-- ************************************************************************************ -->
  <!--
  Requests and responses are listed here in alphabetical order.
  The non-primitive attributes inside the commands are defined in another
  section of the schema.

  Requests in this schema file:
    UserSharedCallAppearanceAddEndpointRequest22    
    UserSharedCallAppearanceDeleteEndpointListRequest14    
    UserSharedCallAppearanceGetEndpointRequest22    
    UserSharedCallAppearanceGetRequest21sp1    
    UserSharedCallAppearanceModifyEndpointRequest    
    UserSharedCallAppearanceModifyRequest    
-->

  <xs:complexType name="UserSharedCallAppearanceAddEndpointRequest22">
    <xs:annotation>
      <xs:documentation>
        Associate an access device instance to the user's Shared Call Appearance.

        The following elements are ignored in XS data mode:
          allowVideo, useValue true in AS data mode

        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="accessDeviceEndpoint" type="AccessDeviceEndpointAndHotlineAdd"/>
          <xs:element name="isActive" type="xs:boolean"/>
          <xs:element name="allowOrigination" type="xs:boolean"/>
          <xs:element name="allowTermination" type="xs:boolean"/>
          <xs:element name="allowVideo" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserSharedCallAppearanceDeleteEndpointListRequest14">
    <xs:annotation>
      <xs:documentation>
        Disassociate one or more of a user's Shared Call Appearance endpoints.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="accessDeviceEndpoint" type="AccessDeviceEndpointKey" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserSharedCallAppearanceGetEndpointRequest22">
    <xs:annotation>
      <xs:documentation>
        Get the user's Shared Call Appearance endpoint setting.
        The response is either a UserSharedCallAppearanceGetEndpointResponse22 or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="accessDeviceEndpoint" type="AccessDeviceEndpointKey"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserSharedCallAppearanceGetEndpointResponse22">
    <xs:annotation>
      <xs:documentation>
        Response to the UserSharedCallAppearanceGetEndpointRequest.

        The following elements are only used in AS data mode and not returned in XS data mode:
          hotlineContact

        The following elements are only used in AS data mode and a value false is returned in the XS mode:
          useHotline

      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="isActive" type="xs:boolean"/>
          <xs:element name="allowOrigination" type="xs:boolean"/>
          <xs:element name="allowTermination" type="xs:boolean"/>
          <xs:element name="useHotline" type="xs:boolean"/>
          <xs:element name="hotlineContact" type="SIPURI" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserSharedCallAppearanceGetRequest21sp1">
    <xs:annotation>
      <xs:documentation>
        Get the user's Shared Call Appearance service setting.
        The response is either a UserSharedCallAppearanceGetResponse21sp1 or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserSharedCallAppearanceGetResponse21sp1">
    <xs:annotation>
      <xs:documentation>
        Response to the UserSharedCallAppearanceGetRequest21sp1.
        The endpointTable contains columns:
          "Device Level", "Device Name", "Device Type", "Line/Port", "SIP Contact", "Port Number", "Device Support Visual Device Management", "Is Active", "Allow Origination", "Allow Termination", "Mac Address", "Path Header".
        The "Device Level" column contains one of the AccessDeviceLevel enumerated constants.
        The "SIP Contact" column does not contain "sip:" in 21sp1.
        Port numbers are only used by devices with static line ordering.

      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="alertAllAppearancesForClickToDialCalls" type="xs:boolean"/>
          <xs:element name="alertAllAppearancesForGroupPagingCalls" type="xs:boolean"/>
          <xs:element name="maxAppearances" type="SharedCallAppearanceMaximumAppearances"/>
          <xs:element name="allowSCACallRetrieve" type="xs:boolean"/>
          <xs:element name="enableMultipleCallArrangement" type="xs:boolean"/>
          <xs:element name="multipleCallArrangementIsActive" type="xs:boolean"/>
          <xs:element name="endpointTable" type="core:OCITable"/>
          <xs:element name="allowBridgingBetweenLocations" type="xs:boolean"/>
          <xs:element name="bridgeWarningTone" type="SharedCallAppearanceBridgeWarningTone"/>
          <xs:element name="enableCallParkNotification" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserSharedCallAppearanceModifyEndpointRequest">
    <xs:annotation>
      <xs:documentation>
         Associate/Disassociate an access device instance to the user's Shared Call Appearance.
         
        The following elements are only used in AS data mode and ignored in XS data mode:
          useHotline
          hotlineContact
         
         The response is either a SuccessResponse or an ErrorResponse.
       </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="accessDeviceEndpoint" type="AccessDeviceEndpointKey"/>
          <xs:element name="isActive" type="xs:boolean" minOccurs="0"/>
          <xs:element name="allowOrigination" type="xs:boolean" minOccurs="0"/>
          <xs:element name="allowTermination" type="xs:boolean" minOccurs="0"/>
          <xs:element name="useHotline" type="xs:boolean" minOccurs="0"/>
          <xs:element name="hotlineContact" type="SIPURI" nillable="true" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserSharedCallAppearanceModifyRequest">
    <xs:annotation>
      <xs:documentation>
         Modify the user's Shared Call Appearance service setting.
         The response is either a SuccessResponse or an ErrorResponse.
         
         The following elements are only used in XS data mode and ignored in AS data mode:
           useUserPrimaryWithAlternateCallsSetting
           allowSimultaneousPrimaryAndAlternate
           restrictCallRetrieveOfPrimary
           restrictCallBridgingOfPrimary
       </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="alertAllAppearancesForClickToDialCalls" type="xs:boolean" minOccurs="0"/>
          <xs:element name="alertAllAppearancesForGroupPagingCalls" type="xs:boolean" minOccurs="0"/>
          <xs:element name="allowSCACallRetrieve" type="xs:boolean" minOccurs="0"/>
          <xs:element name="multipleCallArrangementIsActive" type="xs:boolean" minOccurs="0"/>
          <xs:element name="allowBridgingBetweenLocations" type="xs:boolean" minOccurs="0"/>
          <xs:element name="bridgeWarningTone" type="SharedCallAppearanceBridgeWarningTone" minOccurs="0"/>
          <xs:element name="enableCallParkNotification" type="xs:boolean" minOccurs="0"/>
          <xs:element name="useUserPrimaryWithAlternateCallsSetting" type="xs:boolean" minOccurs="0"/>
          <xs:element name="allowSimultaneousPrimaryAndAlternateCalls" type="xs:boolean" minOccurs="0"/>
          <xs:element name="restrictCallRetrieveOfPrimaryCall" type="xs:boolean" minOccurs="0"/>
          <xs:element name="restrictCallBridgingOfPrimaryCall" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
