ocip_schema/Services/OCISchemaServiceCollaborate.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- ********************************************************************** -->
<!-- Copyright (c) 2000-2012 BroadSoft, Inc.  All rights reserved.          -->
<!-- ********************************************************************** -->
<!-- O C I   X M L   S C H E M A  :  S E R V I C E  P A R T                 -->
<!--                                                                        -->
<!-- C O L L A B O R A T E  S E R V I C E                                   -->
<!--                                                                        -->
<!-- This file defines the XML Schema for the BroadSoft Application Server  -->
<!-- Open Client Interface (OCI).                                           -->
<!-- ********************************************************************** -->

<xs:schema xmlns:xs             = "http://www.w3.org/2001/XMLSchema"
           xmlns:core           = "C"
           xmlns                = ""
           attributeFormDefault = "qualified"
           elementFormDefault   = "qualified">

  <xs:import namespace      = "C"
             schemaLocation = "../OCISchemaBASE.xsd"/>

  <xs:include schemaLocation="../OCISchemaDataTypes.xsd"/>
  <xs:include schemaLocation="../OCISchemaSearchCriteria.xsd"/>

  <!-- ********************************************************************************** -->
  <!-- C O L L A B O R A T E    R E Q U E S T S  A N D  R E S P O N S E S                 -->
  <!-- ********************************************************************************** -->
  <!--
  Requests and responses are listed here in alphabetical order.
  The non-primitive attributes inside the commands are defined in another
  section of the schema.

  Requests in this schema file:
    GroupCollaborateBridgeAddInstanceRequest
    GroupCollaborateBridgeDeleteInstanceRequest
    GroupCollaborateBridgeGetAvailableUserListRequest
    GroupCollaborateBridgeGetInstanceListRequest
    GroupCollaborateBridgeGetInstanceRequest
    GroupCollaborateBridgeModifyInstanceRequest
    SystemCollaborateGetRequest
    SystemCollaborateModifyRequest
    UserCollaborateBridgeGetRequest
    UserCollaborateInstantRoomParametersGetRequest
    UserCollaborateInstantRoomParametersModifyRequest
    UserCollaborateProjectRoomAddRequest
    UserCollaborateInstantRoomAddRequest
    UserCollaborateDeleteRoomRequest
    UserCollaborateMyRoomGetRequest
    UserCollaborateProjectRoomGetRequest
    UserCollaborateInstantRoomGetRequest
    UserCollaborateMyRoomModifyRequest
    UserCollaborateProjectRoomModifyRequest
    UserCollaborateRoomIDRegenerateRequest
    UserCollaborateRoomListGetRequest

  -->

  <xs:complexType name="GroupCollaborateBridgeAddInstanceRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Add a collaborate bridge to a group.
        The domain is required in the serviceUserId.
        The request fails when supportOutdial is enabled and the system-level collaborate supportOutdial setting is disabled.
        The response is either SuccessResponse or ErrorResponse.
        </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="serviceUserId" type="UserId"/>
          <xs:element name="serviceInstanceProfile" type="ServiceInstanceAddProfile"/>
          <xs:element name="maximumBridgeParticipants" type="CollaborateBridgeMaximumParticipants"/>
          <xs:element name="networkClassOfService" type="NetworkClassOfServiceName" minOccurs="0"/>
          <xs:element name="maxCollaborateRoomParticipants" type="CollaborateRoomMaximumParticipants"/>
          <xs:element name="supportOutdial" type="xs:boolean"/>
          <xs:element name="collaborateOwnerUserId" type="UserId" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupCollaborateBridgeDeleteInstanceRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Delete a collaborate bridge from a group.
        The request fails when attempting to delete the default collaborate bridge.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupCollaborateBridgeGetAvailableUserListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Get a list of users with the Collaborate – Audio service assigned that can be assigned to a collaborate bridge.  For an Enterprise Group this will include all users in the group’s enterprise.
        The SearchCriteriaExactUserGroup parameter is only applicable for enterprise groups.
        The response is either GroupCollaborateBridgeGetAvailableUserListResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="responseSizeLimit" type="ResponseSizeLimit" minOccurs="0"/>
          <xs:element name="searchCriteriaUserLastName" type="SearchCriteriaUserLastName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaUserFirstName" type="SearchCriteriaUserFirstName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaUserId" type="SearchCriteriaUserId" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaExactUserDepartment" type="SearchCriteriaExactUserDepartment" minOccurs="0"/>
          <xs:element name="searchCriteriaExactUserGroup" type="SearchCriteriaExactUserGroup" minOccurs="0"/>
          <xs:element name="searchCriteriaDn" type="SearchCriteriaDn" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaExtension" type="SearchCriteriaExtension" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupCollaborateBridgeGetAvailableUserListResponse">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Response to the GroupCollaborateBridgeGetAvailableUserListRequest.
        Contains a table with column headings: "User Id", "Last Name", "First Name", "Hiragana Last Name", and "Hiragana First Name",
        "Phone Number", "Extension", "Department", "Email Address".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="userTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupCollaborateBridgeGetInstanceListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Get a list of collaborate bridges within a group.
        The response is either GroupCollaborateBridgeGetInstanceListResponse or ErrorResponse.
        It is possible to get the instances within a specified department.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="departmentName" type="DepartmentName" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupCollaborateBridgeGetInstanceListResponse">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Response to the GroupCollaborateBridgeGetInstanceListRequest.
        Contains a table with column headings: "Service User Id", "Name", "Phone Number", "Extension", "Department", "Participants", and "Is Default".
        The column values for "Is default" can either be true, or false.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="collaborateBridgeTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupCollaborateBridgeGetInstanceRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Request to get all the information of a collaborate bridge.
        The response is either GroupCollaborateBridgeGetInstanceResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupCollaborateBridgeGetInstanceResponse">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Response to GroupCollaborateBridgeGetInstanceRequest.
        The system-level collaborate supportOutdial setting is returned in the response when the system-level collaborate
        supportOutdial setting is disabled.
        Contains the service profile information and a table of assigned owners.
        The table has column headings: "User Id", "Last Name", "First Name", "Hiragana Last Name",
        "Hiragana First Name", Phone Number", "Extension", "Department", "Email Address".
        Collaborate bridge maximum participant’s choices unlimited or a quantified number of participants.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="serviceInstanceProfile" type="ServiceInstanceReadProfile19sp1"/>
          <xs:element name="maximumBridgeParticipants" type="CollaborateBridgeMaximumParticipants"/>
          <xs:element name="networkClassOfService" type="NetworkClassOfServiceName" minOccurs="0"/>
          <xs:element name="isDefault" type="xs:boolean"/>
          <xs:element name="maxCollaborateRoomParticipants" type="CollaborateRoomMaximumParticipants"/>
          <xs:element name="supportOutdial" type="xs:boolean"/>
          <xs:element name="collaborateOwnerUserTable" type="core:OCITable" nillable="true" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupCollaborateBridgeModifyInstanceRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Request to modify a Collaborate bridge.
        The request fails when the collaborateOwnerUserIdList is included in the request for the default collaborate bridge.
        The request fails when the supportOutdial is included in the request and the system-level collaborate supportOutdial setting is disabled.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
          <xs:element name="serviceInstanceProfile" type="ServiceInstanceModifyProfile" minOccurs="0"/>
          <xs:element name="maximumBridgeParticipants" type="CollaborateBridgeMaximumParticipants" minOccurs="0"/>
          <xs:element name="networkClassOfService" type="NetworkClassOfServiceName" minOccurs="0"/>
          <xs:element name="maxCollaborateRoomParticipants" type="CollaborateRoomMaximumParticipants" minOccurs="0"/>
          <xs:element name="supportOutdial" type="xs:boolean" minOccurs="0"/>
          <xs:element name="collaborateOwnerUserIdList" type="ReplacementUserIdList" nillable="true" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemCollaborateGetRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Request the system level data associated with collaborate services.
        The response is either a SystemCollaborateGetResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemCollaborateGetResponse">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Response to SystemCollaborateGetRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="collaborateRoomIdLength" type="CollaboratePassCodeLength"/>
          <xs:element name="instantRoomIdleTimeoutSeconds" type="CollaborateInstantRoomIdleTimeoutSeconds"/>
          <xs:element name="collaborateRoomMaximumDurationMinutes" type="CollaborateRoomMaximumDurationMinutes"/>
          <xs:element name="supportOutdial" type="xs:boolean"/>
          <xs:element name="maxCollaborateRoomParticipants" type="CollaborateRoomMaximumParticipants"/>
          <xs:element name="collaborateActiveTalkerRefreshIntervalSeconds" type="CollaborateActiveTalkerRefreshIntervalSeconds"/>
          <xs:element name="terminateCollaborateAfterGracePeriod" type="xs:boolean"/>
          <xs:element name="collaborateGracePeriod" type="CollaborateGracePeriodDuration"/>
          <xs:element name="enableActiveCollaborateNotification" type="xs:boolean"/>
          <xs:element name="collaborateFromAddress" type="EmailAddress" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemCollaborateModifyRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Modify the system level data associated with collaborate services.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="collaborateRoomIdLength" type="CollaboratePassCodeLength" minOccurs="0"/>
          <xs:element name="instantRoomIdleTimeoutSeconds" type="CollaborateInstantRoomIdleTimeoutSeconds" minOccurs="0"/>
          <xs:element name="collaborateRoomMaximumDurationMinutes" type="CollaborateRoomMaximumDurationMinutes" minOccurs="0"/>
          <xs:element name="supportOutdial" type="xs:boolean" minOccurs="0"/>
          <xs:element name="maxCollaborateRoomParticipants" type="CollaborateRoomMaximumParticipants" minOccurs="0"/>
          <xs:element name="collaborateActiveTalkerRefreshIntervalSeconds" type="CollaborateActiveTalkerRefreshIntervalSeconds" minOccurs="0"/>
          <xs:element name="terminateCollaborateAfterGracePeriod" type="xs:boolean" minOccurs="0"/>
          <xs:element name="collaborateGracePeriod" type="CollaborateGracePeriodDuration" minOccurs="0"/>
          <xs:element name="enableActiveCollaborateNotification" type="xs:boolean" minOccurs="0"/>
          <xs:element name="collaborateFromAddress" type="EmailAddress" nillable="true" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserCollaborateBridgeGetRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Request the collaborate bridged assigned to the user. The user can only be assigned to one collaborate bridge at any given time.
        The response is either UserCollaborateBridgeGetResponse or
        ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserCollaborateBridgeGetResponse">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        The system-level collaborate supportOutdial setting is returned in the response when the system-level collaborate supportOutdial setting is disabled.
        Response to UserCollaborateBridgeGetRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="bridgeId" type="UserId"/>
          <xs:element name="bridgeName" type="CollaborateBridgeName"/>
          <xs:element name="phoneNumber" type="DN" minOccurs="0"/>
          <xs:element name="extension" type="Extension17" minOccurs="0"/>
          <xs:element name="alternateNumberEntry" type="AlternateNumberEntry21" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="supportOutDial" type="xs:boolean"/>
          <xs:element name="maxCollaborateRoomParticipants" type="CollaborateRoomMaximumParticipants"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserCollaborateInstantRoomParametersGetRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Request collaborate instant room settings.
        The response is either UserCollaborateInstantRoomParametersGetResponse or
        ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserCollaborateInstantRoomParametersGetResponse">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
         Response to UserCollaborateInstantRoomParametersGetRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="attendeeNotification" type="CollaborateRoomAttendeeNotification"/>
          <xs:element name="endCollaborateRoomSessionOnOwnerExit" type="xs:boolean"/>
          <xs:element name="ownerRequired" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserCollaborateInstantRoomParametersModifyRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Request to modify collaborate instant room settings.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="attendeeNotification" type="CollaborateRoomAttendeeNotification" minOccurs="0"/>
          <xs:element name="endCollaborateRoomSessionOnOwnerExit" type="xs:boolean" minOccurs="0"/>
          <xs:element name="ownerRequired" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserCollaborateProjectRoomAddRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Request to add collaborate project room.
        The response is either a UserCollaborateProjectRoomAddResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="roomName" type="CollaborateRoomName"/>
          <xs:element name="attendeeNotification" type="CollaborateRoomAttendeeNotification"/>
          <xs:element name="endCollaborateRoomSessionOnOwnerExit" type="xs:boolean"/>
          <xs:element name="ownerRequired" type="xs:boolean"/>
          <xs:element name="roomSchedule" type="CollaborateRoomSchedule"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserCollaborateProjectRoomAddResponse">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
         Response to UserCollaborateProjectRoomAddRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="roomId" type="CollaborateRoomId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserCollaborateInstantRoomAddRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Request to add collaborate instant room.
        The response is either a UserCollaborateInstantRoomAddResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:choice>
            <xs:element name="roomName" type="CollaborateRoomName"/>
            <xs:element name="useRoomIdAsRoomName" type="xs:boolean" fixed="true"/>
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserCollaborateInstantRoomAddResponse">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
	    Response to UserCollaborateInstantRoomAddRequest.
	 </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="roomId" type="CollaborateRoomId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserCollaborateDeleteRoomRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Request to delete a collaborate room.  The request only applies to project rooms and instant rooms.
        The request fails when deleting a collaborate My Room.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="roomId" type="CollaborateRoomId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserCollaborateMyRoomGetRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Request collaborate room settings for MyRoom.
        The response is either UserCollaboratMyRoomGetResponse or
        ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserCollaborateMyRoomGetResponse">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
 	     Response to UserCollaborateMyRoomGetRequest.
 	  </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="roomId" type="CollaborateRoomId"/>
          <xs:element name="roomName" type="CollaborateRoomName"/>
          <xs:element name="attendeeNotification" type="CollaborateRoomAttendeeNotification"/>
          <xs:element name="endCollaborateRoomSessionOnOwnerExit" type="xs:boolean"/>
          <xs:element name="ownerRequired" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserCollaborateProjectRoomGetRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Request collaborate room settings for a project room.
        The request fails when requesting collaborate room settings for instant rooms or My Room.
        The response is either UserCollaboratProjectRoomGetResponse or
        ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="roomId" type="CollaborateRoomId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserCollaborateProjectRoomGetResponse">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
 	       Response to UserCollaborateProjectRoomGetRequest.
 	    </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="roomName" type="CollaborateRoomName"/>
          <xs:element name="attendeeNotification" type="CollaborateRoomAttendeeNotification"/>
          <xs:element name="endCollaborateRoomSessionOnOwnerExit" type="xs:boolean"/>
          <xs:element name="ownerRequired" type="xs:boolean"/>
          <xs:element name="roomSchedule" type="CollaborateRoomSchedule"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserCollaborateInstantRoomGetRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Request the collaborate room settings for an instant room.
        The request fails when requesting collaborate room settings for My Room or project rooms.
        The response is either UserCollaboratInstantRoomGetResponse or
        ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="roomId" type="CollaborateRoomId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserCollaborateInstantRoomGetResponse">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
         Response to UserCollaborateInstantRoomGetRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="roomName" type="CollaborateRoomName" minOccurs="0"/>
          <xs:element name="instantRoomStartTime" type="xs:dateTime"/>
          <xs:element name="instantRoomEndTime" type="xs:dateTime"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserCollaborateMyRoomModifyRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Request to modify collaborate room settings for MyRoom.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="roomName" type="CollaborateRoomName" minOccurs="0"/>
          <xs:element name="attendeeNotification" type="CollaborateRoomAttendeeNotification" minOccurs="0"/>
          <xs:element name="endCollaborateRoomSessionOnOwnerExit" type="xs:boolean" minOccurs="0"/>
          <xs:element name="ownerRequired" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserCollaborateProjectRoomModifyRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Request to modify collaborate room settings for a project room.
        The request fails when modifying collaborate room settings for instant rooms or My Room.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="roomId" type="CollaborateRoomId"/>
          <xs:element name="roomName" type="CollaborateRoomName" minOccurs="0"/>
          <xs:element name="attendeeNotification" type="CollaborateRoomAttendeeNotification" minOccurs="0"/>
          <xs:element name="endCollaborateRoomSessionOnOwnerExit" type="xs:boolean" minOccurs="0"/>
          <xs:element name="ownerRequired" type="xs:boolean" minOccurs="0"/>
          <xs:element name="roomSchedule" type="CollaborateRoomSchedule" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserCollaborateRoomIDRegenerateRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Request to regenerate collaborate room id for MyRoom and project room.
        The request fails when requesting to regenerate room ID for an instant room.
        The response is either a UserCollaborateRoomIDRegenerateResponse or an
        ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="roomId" type="CollaborateRoomId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserCollaborateRoomIDRegenerateResponse">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Response to UserCollaborateRoomIDRegenerateRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="roomId" type="CollaborateRoomId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserCollaborateRoomListGetRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Request the list of collaborate room instances for this specific user.
        The response is either a UserCollaborateRoomListGetResponse or an
        ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserCollaborateRoomListGetResponse">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Response to UserCollaborateRoomListGetRequest.
        Contains a table with column headings :  "Room Type", "Name", "Room Id",
        in a row for each collaborate room instance.
        Possible values for Room Type column are MyRoom, Project Room and
        Instant Room.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="roomInstanceTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="CollaborateActiveTalkerRefreshIntervalSeconds">
    <xs:annotation>
      <xs:documentation>
      The Interval in seconds at which, the UVS will refresh and notify active talker details..
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="5"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CollaborateBridgeMaximumParticipants">
    <xs:annotation>
      <xs:documentation>
        Maximum number of Collaborate bridge participants. Can either be unlimited or limited to a value between 3 and 999999.
      </xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="unlimited" type="xs:boolean" fixed="true"/>
      <xs:element name="quantity">
        <xs:simpleType>
          <xs:annotation/>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="3"/>
            <xs:maxInclusive value="999999"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:choice>
  </xs:complexType>

  <xs:simpleType name="CollaborateBridgeName">
    <xs:annotation>
      <xs:documentation>
         Collaborate bridge name.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CollaborateGracePeriodDuration">
    <xs:annotation>
      <xs:documentation>
        Collaborate grace period duration.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="hours" type="Hour"/>
      <xs:element name="minutes" type="CollaborateGracePeriodDurationMinutes"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="CollaborateGracePeriodDurationMinutes">
    <xs:annotation>
      <xs:documentation>
        Collaborate grace period duration minutes.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:pattern value="0|15|30|45"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CollaborateInstantRoomExpirationSeconds">
    <xs:annotation>
      <xs:documentation>
      The expiration period in seconds for an instant room to exist.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="524700"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CollaborateInstantRoomIdleTimeoutSeconds">
    <xs:annotation>
      <xs:documentation>
        The time in seconds the instant room lives without a participant, the wait
        time for the first participant to join and the wait time after the last
        participant leaves the collaborate room.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="3600"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CollaboratePassCodeLength">
    <xs:annotation>
      <xs:documentation>
        Length of the collaborate room Id.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="4"/>
      <xs:maxInclusive value="15"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CollaborateRoomAttendeeNotification">
    <xs:annotation>
      <xs:documentation>
        Choices for the notification when attendees join or leave the collaborate room session.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Play Tone"/>
      <xs:enumeration value="No Notification"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CollaborateRoomId">
    <xs:annotation>
      <xs:documentation>
        Collaborate room id.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="4"/>
      <xs:maxLength value="15"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CollaborateRoomMaximumParticipants">
    <xs:annotation>
      <xs:documentation>
        Maximum number of collaborate room participants.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="3"/>
      <xs:maxInclusive value="30"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CollaborateRoomName">
    <xs:annotation>
      <xs:documentation>
        Collaborate room name.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CollaborateRoomSchedule">
    <xs:annotation>
      <xs:documentation>
        Collaborate room schedule.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="scheduleReservationless">
          <xs:complexType>
            <xs:annotation/>
            <xs:sequence>
              <xs:element name="startTime" type="xs:dateTime"/>
              <xs:element name="endTime" type="xs:dateTime" nillable="true"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="scheduleOneTime">
          <xs:complexType>
            <xs:annotation/>
            <xs:sequence>
              <xs:element name="startTime" type="xs:dateTime"/>
              <xs:element name="duration" type="CollaborateRoomScheduleDuration"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="scheduleRecurring">
          <xs:complexType>
            <xs:annotation/>
            <xs:sequence>
              <xs:element name="startTime" type="xs:dateTime"/>
              <xs:element name="duration" type="CollaborateRoomScheduleDuration"/>
              <xs:element name="recurrence" type="Recurrence"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CollaborateRoomScheduleDuration">
    <xs:annotation>
      <xs:documentation>
        Collaborate room schedule duration.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="hours" type="Hour"/>
      <xs:element name="minutes" type="CollaborateRoomScheduleDurationMinutes"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="CollaborateRoomScheduleDurationMinutes">
    <xs:annotation>
      <xs:documentation>
        Collaborate room schedule duration minutes.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:pattern value="0|15|30|45"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CollaborateRoomType">
    <xs:annotation>
      <xs:documentation>
	   Choices for collaborate room type
     </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Instant Room"/>
      <xs:enumeration value="My Room"/>
      <xs:enumeration value="Project Room"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CollaborateRoomMaximumDurationMinutes">
    <xs:annotation>
      <xs:documentation>
      The time in minutes of the maximum duration of the collaborate room session.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="7200"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
