ocip_schema/Services/OCISchemaServicePersonalAssistant.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- ************************************************************************************ -->
<!-- Copyright © 2018 BroadSoft Inc. All rights reserved.-->
<!-- ************************************************************************************ -->
<!-- O C I   X M L   S C H E M A   S E R V I C E   P A R T                                -->
<!--                                                                                      -->
<!-- P E R S O N A L   A S S I S T A N T   S E R V I C E                                  -->
<!--                                                                                      -->
<!-- This file defines the XML Schema for the BroadSoft Application Server                -->
<!-- Open Client Interface (OCI).                                                         -->
<!-- ************************************************************************************ -->
<xs:schema xmlns:core="C" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified">

  <xs:import namespace="C" schemaLocation="../OCISchemaBASE.xsd"/>

  <xs:include schemaLocation="../OCISchemaDataTypes.xsd"/>
  <xs:include schemaLocation="../OCISchemaSearchCriteria.xsd"/>

  <!-- ************************************************************************************ -->
  <!-- P E R S O N A L   A S S I S T A N T   R E Q U E S T S   A N D   R E S P O N S E S    -->
  <!-- ************************************************************************************ -->
  <!--
  Requests and responses are listed here in alphabetical order.
  The non-primitive attributes inside the commands are defined in another
  section of the schema.

  Requests in this schema file:
    SystemPersonalAssistantGetRequest
    SystemPersonalAssistantModifyRequest
    UserCallToNumberGetAvailableListRequest
    UserPersonalAssistantAddCriteriaRequest
    UserPersonalAssistantCallToNumberGetListRequest
    UserPersonalAssistantCallToNumberModifyListRequest
    UserPersonalAssistantDeleteCriteriaRequest
    UserPersonalAssistantExclusionNumberAddRequest
    UserPersonalAssistantExclusionNumberDeleteListRequest
    UserPersonalAssistantExclusionNumberGetListRequest
    UserPersonalAssistantExclusionNumberGetRequest
    UserPersonalAssistantExclusionNumberModifyRequest
    UserPersonalAssistantGetCriteriaRequest
    UserPersonalAssistantGetRequest24
    UserPersonalAssistantModifyCriteriaRequest
    UserPersonalAssistantModifyRequest
    UserPersonalAssistantReorderCriteriaRequest
-->

  <xs:complexType name="SystemPersonalAssistantGetRequest">
    <xs:annotation>
      <xs:documentation>
        Get system Personal Assistant Parameters.
        The response is either SystemPersonalAssistantGetResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemPersonalAssistantGetResponse">
    <xs:annotation>
      <xs:documentation>
        Response to the SystemPersonalAssistantGetRequest.
        Returns system Personal Assistant Parameters.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="transferToAttendantKey" type="DigitAny"/>
          <xs:element name="transferToVoiceMessagingKey" type="DigitAny"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemPersonalAssistantModifyRequest">
    <xs:annotation>
      <xs:documentation>
        Modify system Personal Assistant Parameters.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="transferToAttendantKey" type="DigitAny" minOccurs="0"/>
          <xs:element name="transferToVoiceMessagingKey" type="DigitAny" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserCallToNumberGetAvailableListRequest">
    <xs:annotation>
      <xs:documentation>
        Request to get the user available Call to Number List information. The response is either a UserCallToNumberGetAvailableListResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserCallToNumberGetAvailableListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to the UserCallToNumberGetAvailableListRequest.
        Contains a list of the user available Call to Numbers".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="callToNumber" type="CallToNumber" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserPersonalAssistantAddCriteriaRequest">
    <xs:annotation>
      <xs:documentation>
        Adds a User Personal Assistant Schedule Selective Criteria Entry.
        The response is either a SuccessResponse or an ErrorResponse.

        The following elements will take the defined default value if they are not set:
          enableTransferToAttendant will be set to false.
          enableRingSplash will be set to false.
          alertMeFirst will be set to false.
          alertMeFirstNumberOfRings will be set to the user Personal Assistant Number of rings setting.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="criteriaName" type="CriteriaName"/>
          <xs:element name="timeSchedule" type="TimeSchedule" minOccurs="0"/>
          <xs:element name="holidaySchedule" type="HolidaySchedule" minOccurs="0"/>
          <xs:element name="presence" type="PersonalAssistantPresence" minOccurs="0"/>
          <xs:element name="enableTransferToAttendant" type="xs:boolean" minOccurs="0"/>
          <xs:element name="attendantNumber" type="OutgoingDNorSIPURI" minOccurs="0"/>
          <xs:element name="enableRingSplash" type="xs:boolean" minOccurs="0"/>
          <xs:element name="alertMeFirst" type="xs:boolean" minOccurs="0"/>
          <xs:element name="alertMeFirstNumberOfRings" type="PersonalAssistantAlertMeFirstNumberOfRings" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserPersonalAssistantCallToNumberGetListRequest">
    <xs:annotation>
      <xs:documentation>
        Request to get the user assigned Call to Number List information. The response is either a UserPersonalAssistantCallToNumberGetListResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserPersonalAssistantCallToNumberGetListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to the UserPersonalAssistantCallToNumberGetListRequest.
        Contains a list of assigned Call to Numbers".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="callToNumber" type="CallToNumber" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserPersonalAssistantCallToNumberModifyListRequest">
    <xs:annotation>
      <xs:documentation>
        Request to modify the user assigned Call to Number List information.
        The response is either a SuccessResponse or an ErrorResponse.
        For the callToNumbers in the callToNumberList, the extension element
        is not used and the number element is only used when the type is BroadWorks Mobility.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="callToNumberList" type="ReplacementCallToNumberList" nillable="true" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserPersonalAssistantDeleteCriteriaRequest">
    <xs:annotation>
      <xs:documentation>
        Deletes a User Personal Assistant Schedule Selective Criteria Entry.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="criteriaName" type="CriteriaName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserPersonalAssistantExclusionNumberAddRequest">
    <xs:annotation>
      <xs:documentation>
        Add a User Personal Assistant Exclusion Number.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="exclusionNumber" type="DN"/>
          <xs:element name="description" type="PersonalAssistantExclusionNumberDescription" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserPersonalAssistantExclusionNumberDeleteListRequest">
    <xs:annotation>
      <xs:documentation>
        Delete a list of User Personal Assistant Exclusion Number.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="exclusionNumber" type="DN" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserPersonalAssistantExclusionNumberGetListRequest">
    <xs:annotation>
      <xs:documentation>
        Request to get the User Personal Assistant Exclusion Number List information.
        The response is either a userPersonalAssistantExclusionNumberGetListResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="searchCriteriaPersonalAssistantExclusionNumber" type="SearchCriteriaPersonalAssistantExclusionNumber" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaPersonalAssistantExclusionNumberDescription" type="SearchCriteriaPersonalAssistantExclusionNumberDescription" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="responseSizeLimit" type="ResponseSizeLimit" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserPersonalAssistantExclusionNumberGetListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to the UserPersonalAssistantExclusionNumberGetListRequest.
        Contains a table with column headings:
        "Number", "Description".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="exclusionNumberTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserPersonalAssistantExclusionNumberGetRequest">
    <xs:annotation>
      <xs:documentation>
        Get a Personal Assistant Exclusion Number.
        The response is either UserPersonalAssistantExclusionNumberGetResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="exclusionNumber" type="DN"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserPersonalAssistantExclusionNumberGetResponse">
    <xs:annotation>
      <xs:documentation>
        Response to the UserPersonalAssistantExclusionNumberGetRequest
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="description" type="PersonalAssistantExclusionNumberDescription" nillable="true" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserPersonalAssistantExclusionNumberModifyRequest">
    <xs:annotation>
      <xs:documentation>
        Modify an existing User Personal Assistant Exclusion Number description.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="exclusionNumber" type="DN"/>
          <xs:element name="description" type="PersonalAssistantExclusionNumberDescription" nillable="true" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserPersonalAssistantGetCriteriaRequest">
    <xs:annotation>
      <xs:documentation>
        Gets a User Personal Assistant Schedule Selective Criteria Entry.
        The response is either UserPersonalAssistantGetCriteriaResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="criteriaName" type="CriteriaName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserPersonalAssistantGetCriteriaResponse">
    <xs:annotation>
      <xs:documentation>
        Response to the UserPersonalAssistantGetCriteriaRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="timeSchedule" type="TimeSchedule" minOccurs="0"/>
          <xs:element name="holidaySchedule" type="HolidaySchedule" minOccurs="0"/>
          <xs:element name="presence" type="PersonalAssistantPresence"/>
          <xs:element name="enableTransferToAttendant" type="xs:boolean"/>
          <xs:element name="attendantNumber" type="OutgoingDNorSIPURI" minOccurs="0"/>
          <xs:element name="enableRingSplash" type="xs:boolean"/>
          <xs:element name="alertMeFirst" type="xs:boolean"/>
          <xs:element name="alertMeFirstNumberOfRings" type="PersonalAssistantAlertMeFirstNumberOfRings"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserPersonalAssistantGetRequest24">
    <xs:annotation>
      <xs:documentation>
        Request to get the User Personal Assistant information.
        The response is either a UserPersonalAssistantGetResponse24 or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserPersonalAssistantGetResponse24">
    <xs:annotation>
      <xs:documentation>
        Response to the UserPersonalAssistantGetRequest24.
        The response contains the user Personal Assistant information and a table of Schedule Selective Criteria entries.
        The schedule table's column headings are: "Is Active", "Criteria Name", "Time Schedule", "Holiday Schedule",
        "Presence", "Transfer to Attendant", "Attendant Number", "Play Ring Splash", "Alert Me First", "Number of Rings".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="presence" type="PersonalAssistantPresence"/>
          <xs:element name="enableTransferToAttendant" type="xs:boolean"/>
          <xs:element name="attendantNumber" type="OutgoingDNorSIPURI" minOccurs="0"/>
          <xs:element name="enableRingSplash" type="xs:boolean"/>
          <xs:element name="enableExpirationTime" type="xs:boolean"/>
          <xs:element name="expirationTime" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="alertMeFirst" type="xs:boolean"/>
          <xs:element name="alertMeFirstNumberOfRings" type="PersonalAssistantAlertMeFirstNumberOfRings"/>
          <xs:element name="scheduleTable" type="core:OCITable" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserPersonalAssistantModifyCriteriaRequest">
    <xs:annotation>
      <xs:documentation>
        Modifies a User Personal Assistant Schedule Selective Criteria Entry.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="criteriaName" type="CriteriaName"/>
          <xs:element name="newCriteriaName" type="CriteriaName" minOccurs="0"/>
          <xs:element name="timeSchedule" type="TimeSchedule" minOccurs="0" nillable="true"/>
          <xs:element name="holidaySchedule" type="HolidaySchedule" minOccurs="0" nillable="true"/>
          <xs:element name="presence" type="PersonalAssistantPresence" minOccurs="0"/>
          <xs:element name="enableTransferToAttendant" type="xs:boolean" minOccurs="0"/>
          <xs:element name="attendantNumber" type="OutgoingDNorSIPURI" minOccurs="0" nillable="true"/>
          <xs:element name="enableRingSplash" type="xs:boolean" minOccurs="0"/>
          <xs:element name="alertMeFirst" type="xs:boolean" minOccurs="0"/>
          <xs:element name="alertMeFirstNumberOfRings" type="PersonalAssistantAlertMeFirstNumberOfRings" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserPersonalAssistantModifyRequest">
    <xs:annotation>
      <xs:documentation>
        Modify the User Personal Assistant information.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="presence" type="PersonalAssistantPresence" minOccurs="0"/>
          <xs:element name="enableTransferToAttendant" type="xs:boolean" minOccurs="0"/>
          <xs:element name="attendantNumber" type="OutgoingDNorSIPURI" minOccurs="0" nillable="true"/>
          <xs:element name="enableRingSplash" type="xs:boolean" minOccurs="0"/>
          <xs:element name="enableExpirationTime" type="xs:boolean" minOccurs="0"/>
          <xs:element name="expirationTime" type="xs:dateTime" minOccurs="0" nillable="true"/>
          <xs:element name="alertMeFirst" type="xs:boolean" minOccurs="0"/>
          <xs:element name="alertMeFirstNumberOfRings" type="PersonalAssistantAlertMeFirstNumberOfRings" minOccurs="0"/>
          <xs:element name="criteriaActivation" type="CriteriaActivation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserPersonalAssistantReorderCriteriaRequest">
    <xs:annotation>
      <xs:documentation>
        Reorders only the Schedule Selective Criteria entries.
        Criteria entries received in the orderedCriteriaList element are set at the top of the ordered criteria list.
        Existing criteria not received in orderedCriteriaList are moved down to a lower priority.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="orderedCriteriaList" type="OrderedCriteriaList"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- ******************************************************************** -->
  <!-- M E S S A G E   P A R A M E T E R S                                  -->
  <!-- ******************************************************************** -->
  <!--
  The Personal Assistant specific non-primitive attributes are listed here in alphabetical order.
  -->


  <xs:complexType name="OrderedCriteriaList">
    <xs:annotation>
      <xs:documentation>
        A list of criteria names that defines the order priority.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="criteriaName" type="CriteriaName" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
