ocip_schema/Services/OCISchemaServiceCallingNameRetrieval.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- ************************************************************************************ -->
<!-- Copyright © 2018 BroadSoft Inc. All rights reserved.-->
<!-- ************************************************************************************ -->
<!-- O C I   X M L   S C H E M A   S E R V I C E   P A R T                                -->
<!--                                                                                      -->
<!-- C A L L I N G   N A M E   R E T R I E V A L                                          -->
<!-- S E R V I C E                                                                        -->
<!--                                                                                      -->
<!-- This file defines the XML Schema for the BroadSoft Application Server                -->
<!-- Open Client Interface (OCI).                                                         -->
<!-- ************************************************************************************ -->
<xs:schema xmlns:core="C" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified">

  <xs:import namespace="C" schemaLocation="../OCISchemaBASE.xsd"/>

  <xs:include schemaLocation="../OCISchemaDataTypes.xsd"/>

  <!-- ************************************************************************************ -->
  <!-- C A L L I N G   N A M E   R E T R I E V A L                                          -->
  <!-- R E Q U E S T S   A N D   R E S P O N S E S                                          -->
  <!-- ************************************************************************************ -->
  <!--
  Requests and responses are listed here in alphabetical order.
  The non-primitive attributes inside the commands are defined in another
  section of the schema.

  Requests in this schema file:
    SystemCallingNameRetrievalGetRequest20    
    SystemCallingNameRetrievalModifyRequest20    
    UserCallingNameRetrievalGetRequest    
    UserCallingNameRetrievalModifyRequest    
-->

  <xs:complexType name="SystemCallingNameRetrievalGetRequest20">
    <xs:annotation>
      <xs:documentation>
        Request the system's calling name retrieval attributes.
        The response is either a SystemCallingNameRetrievalGetResponse20 or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemCallingNameRetrievalGetResponse20">
    <xs:annotation>
      <xs:documentation>
        Response to SystemCallingNameRetrievalGetRequest20.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="triggerCNAMQueriesForAllNetworkCalls" type="xs:boolean"/>
          <xs:element name="triggerCNAMQueriesForGroupAndEnterpriseCalls" type="xs:boolean"/>
          <xs:element name="queryProtocol" type="CallingNameRetrievalQueryProtocol"/>
          <xs:element name="queryTimeoutMilliseconds" type="CallingNameRetrievalQueryTimeoutMilliseconds"/>
          <xs:element name="sipExternalDatabaseNetAddress" type="NetAddress" minOccurs="0"/>
          <xs:element name="sipExternalDatabasePort" type="Port1025" minOccurs="0"/>
          <xs:element name="sipExternalDatabaseTransport" type="TransportProtocol"/>
          <xs:element name="soapExternalDatabaseNetAddress" type="NetAddress" minOccurs="0"/>
          <xs:element name="callingNameSource" type="CallingNameRetrievalSourceIdentity"/>
          <xs:element name="routeAdvanceTimer" type="CallingNameRetrievalRouteAdvanceTimerMilliseconds"/>
          <xs:element name="retryFailedCNAMServerInterval" type="CallingNameRetrievalRetryFailedCNAMServerIntervalSeconds"/>
          <xs:element name="ignoreRestrictedPresentationIndicator" type="xs:boolean"/>
          <xs:element name="supportsDNSSRV" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemCallingNameRetrievalModifyRequest20">
    <xs:annotation>
      <xs:documentation>
        Modifies the system's calling name retrieval attributes.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="triggerCNAMQueriesForAllNetworkCalls" type="xs:boolean" minOccurs="0"/>
          <xs:element name="triggerCNAMQueriesForGroupAndEnterpriseCalls" type="xs:boolean" minOccurs="0"/>
          <xs:element name="queryProtocol" type="CallingNameRetrievalQueryProtocol" minOccurs="0"/>
          <xs:element name="queryTimeoutMilliseconds" type="CallingNameRetrievalQueryTimeoutMilliseconds" minOccurs="0"/>
          <xs:element name="sipExternalDatabaseNetAddress" type="NetAddress" nillable="true" minOccurs="0"/>
          <xs:element name="sipExternalDatabasePort" type="Port1025" nillable="true" minOccurs="0"/>
          <xs:element name="sipExternalDatabaseTransport" type="TransportProtocol" minOccurs="0"/>
          <xs:element name="soapExternalDatabaseNetAddress" type="NetAddress" nillable="true" minOccurs="0"/>
          <xs:element name="callingNameSource" type="CallingNameRetrievalSourceIdentity" minOccurs="0"/>
          <xs:element name="routeAdvanceTimer" type="CallingNameRetrievalRouteAdvanceTimerMilliseconds" minOccurs="0"/>
          <xs:element name="retryFailedCNAMServerInterval" type="CallingNameRetrievalRetryFailedCNAMServerIntervalSeconds" minOccurs="0"/>
          <xs:element name="ignoreRestrictedPresentationIndicator" type="xs:boolean" minOccurs="0"/>
          <xs:element name="supportsDNSSRV" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserCallingNameRetrievalGetRequest">
    <xs:annotation>
      <xs:documentation>
        Request the user level data associated with Calling Name Retrieval.
        The response is either a UserCallingNameRetrievalGetResponse or an
        ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserCallingNameRetrievalGetResponse">
    <xs:annotation>
      <xs:documentation>
        Response to UserCallingNameRetrievalGetRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="isActive" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserCallingNameRetrievalModifyRequest">
    <xs:annotation>
      <xs:documentation>
        Modify the user level data associated with Calling Name Retrieval.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="isActive" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- ******************************************************************** -->
  <!-- M E S S A G E   P A R A M E T E R S                                  -->
  <!-- ******************************************************************** -->
  <!--
  The Calling Name Retrieval specific non-primitive attributes are listed here in alphabetical order.
  -->
  

  <xs:simpleType name="CallingNameRetrievalQueryProtocol">
    <xs:annotation>
      <xs:documentation>
        Query Protocol.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Sip"/>
      <xs:enumeration value="Soap"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CallingNameRetrievalQueryTimeoutMilliseconds">
    <xs:annotation>
      <xs:documentation>
        Query time out milli-seconds.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="100"/>
      <xs:maxInclusive value="10000"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CallingNameRetrievalRetryFailedCNAMServerIntervalSeconds">
    <xs:annotation>
      <xs:documentation>
        Seconds to wait before querying a failed CNAM server.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="604800"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CallingNameRetrievalRouteAdvanceTimerMilliseconds">
    <xs:annotation>
      <xs:documentation>
        Route Advance Query time out milli-seconds.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="100"/>
      <xs:maxInclusive value="2000"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CallingNameRetrievalSourceIdentity">
    <xs:annotation>
      <xs:documentation>
        Query Protocol.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Presentation Identity"/>
      <xs:enumeration value="Asserted Identity"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
