ocip_schema/Services/OCISchemaServiceThirdPartyVoiceMailSupport.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- ************************************************************************************ -->
<!-- Copyright © 2018 BroadSoft Inc. All rights reserved.-->
<!-- ************************************************************************************ -->
<!-- O C I   X M L   S C H E M A   S E R V I C E   P A R T                                -->
<!--                                                                                      -->
<!-- T H I R D   P A R T Y   V O I C E   M A I L   S U P P O R T                          -->
<!-- S E R V I C E                                                                        -->
<!--                                                                                      -->
<!-- This file defines the XML Schema for the BroadSoft Application Server                -->
<!-- Open Client Interface (OCI).                                                         -->
<!-- ************************************************************************************ -->
<xs:schema xmlns:core="C" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified">

  <xs:import namespace="C" schemaLocation="../OCISchemaBASE.xsd"/>

  <xs:include schemaLocation="../OCISchemaDataTypes.xsd"/>
  <xs:include schemaLocation="../OCISchemaSearchCriteria.xsd"/>

  <!-- ************************************************************************************ -->
  <!-- T H I R D   P A R T Y   V O I C E   M A I L   S U P P O R T                          -->
  <!-- R E Q U E S T S   A N D   R E S P O N S E S                                          -->
  <!-- ************************************************************************************ -->
  <!--
  Requests and responses are listed here in alphabetical order.
  The non-primitive attributes inside the commands are defined in another
  section of the schema.

  Requests in this schema file:
    GroupThirdPartyVoiceMailSupportGetRequest    
    GroupThirdPartyVoiceMailSupportModifyRequest    
    SystemThirdPartyVoiceMailSupportAddDnRequest    
    SystemThirdPartyVoiceMailSupportDeleteDnRequest    
    SystemThirdPartyVoiceMailSupportGetDnListRequest    
    SystemThirdPartyVoiceMailSupportGetRequest17sp4    
    SystemThirdPartyVoiceMailSupportModifyDnRequest    
    SystemThirdPartyVoiceMailSupportModifyRequest    
    UserThirdPartyVoiceMailSupportGetRequest17    
    UserThirdPartyVoiceMailSupportModifyRequest    
-->

  <xs:complexType name="GroupThirdPartyVoiceMailSupportGetRequest">
    <xs:annotation>
      <xs:documentation>
        Request the group level data associated with Third-Party Voice Mail Support.
        The response is either a GroupThirdPartyVoiceMailSupportGetResponse or an
        ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupThirdPartyVoiceMailSupportGetResponse">
    <xs:annotation>
      <xs:documentation>
        Response to GroupThirdPartyVoiceMailSupportGetRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="isActive" type="xs:boolean"/>
          <xs:element name="groupServer" type="ThirdPartyVoiceMailSupportMailServer" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupThirdPartyVoiceMailSupportModifyRequest">
    <xs:annotation>
      <xs:documentation>
        Modify the Third Party Voice Mail Support settings for a group.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="isActive" type="xs:boolean" minOccurs="0"/>
          <xs:element name="groupServer" type="ThirdPartyVoiceMailSupportMailServer" nillable="true" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemThirdPartyVoiceMailSupportAddDnRequest">
    <xs:annotation>
      <xs:documentation>
       Request to add a ThirdPartyVoiceMailSupport User DN to the system.
       The response is either a SuccessResponse or an ErrorResponse.
     </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="phoneNumber" type="DN"/>
          <xs:element name="description" type="ThirdPartyVoiceMailDestinationDescription" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemThirdPartyVoiceMailSupportDeleteDnRequest">
    <xs:annotation>
      <xs:documentation>
       Request to delete a ThirdPartyVoiceMailSupport User DN from the system.
       The response is either a SuccessResponse or an ErrorResponse.
     </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="phoneNumber" type="DN"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemThirdPartyVoiceMailSupportGetDnListRequest">
    <xs:annotation>
      <xs:documentation>
       Request to get a list of ThirdPartyVoiceMailSupport User DN's defined in the system.
       The response is either a SystemThirdPartyVoiceMailSupportGetDnListResponse or an ErrorResponse.
       The search can be done using multiple criterion.
     </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="responseSizeLimit" type="ResponseSizeLimit" minOccurs="0"/>
          <xs:element name="searchCriteriaSystemServiceDn" type="SearchCriteriaSystemServiceDn" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemThirdPartyVoiceMailSupportGetDnListResponse">
    <xs:annotation>
      <xs:documentation>
       Response to SystemThirdPartyVoiceMailSupportGetDnListRequest.
       Contains a table with a row for each ThirdPartyVoiceMailSupport User DN and column headings:
       "Phone Number", "Description"
     </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="thirdPartyVoiceMailSupportTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemThirdPartyVoiceMailSupportGetRequest17sp4">
    <xs:annotation>
      <xs:documentation>
        Request the system level data associated with Third-party Voice Mail Support.
        The response is either a SystemThirdPartyVoiceMailSupportGetResponse17sp4 or an
        ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemThirdPartyVoiceMailSupportGetResponse17sp4">
    <xs:annotation>
      <xs:documentation>
        Response to SystemThirdPartyVoiceMailSupportGetRequest17sp4.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="overrideAltCallerIdForVMRetrieval" type="xs:boolean"/>
          <xs:element name="stripDiversionOnVMDestinationRetrieval" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemThirdPartyVoiceMailSupportModifyDnRequest">
    <xs:annotation>
      <xs:documentation>
       Request to modify a ThirdPartyVoiceMailSupport User DN and description in the system.
       The response is either a SuccessResponse or an ErrorResponse.
     </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="phoneNumber" type="DN"/>
          <xs:element name="description" type="ThirdPartyVoiceMailDestinationDescription" nillable="true" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SystemThirdPartyVoiceMailSupportModifyRequest">
    <xs:annotation>
      <xs:documentation>
        Modify the system level data associated with Third-party Voice Mail Support.
        The response is either a SuccessResponse or an ErrorResponse.
        
        The following elements are only used in AS data mode:
          stripDiversionOnVMDestinationRetrieval   
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="overrideAltCallerIdForVMRetrieval" type="xs:boolean" minOccurs="0"/>
          <xs:element name="stripDiversionOnVMDestinationRetrieval" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserThirdPartyVoiceMailSupportGetRequest17">
    <xs:annotation>
      <xs:documentation>
        Request the user level data associated with Third-Party Voice Mail Support.
        The response is either a UserThirdPartyVoiceMailSupportGetResponse17 or an
        ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserThirdPartyVoiceMailSupportGetResponse17">
    <xs:annotation>
      <xs:documentation>
        Response to UserThirdPartyVoiceMailSupportGetRequest17.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="isActive" type="xs:boolean"/>
          <xs:element name="busyRedirectToVoiceMail" type="xs:boolean"/>
          <xs:element name="noAnswerRedirectToVoiceMail" type="xs:boolean"/>
          <xs:element name="serverSelection" type="ThirdPartyVoiceMailSupportServerSelection"/>
          <xs:element name="userServer" type="ThirdPartyVoiceMailSupportMailServer" minOccurs="0"/>
          <xs:element name="mailboxIdType" type="ThirdPartyVoiceMailSupportMailboxIdType"/>
          <xs:element name="mailboxURL" type="SIPURI" minOccurs="0"/>
          <xs:element name="noAnswerNumberOfRings" type="ThirdPartyVoiceMailSupportNumberOfRings"/>
          <xs:element name="alwaysRedirectToVoiceMail" type="xs:boolean"/>
          <xs:element name="outOfPrimaryZoneRedirectToVoiceMail" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserThirdPartyVoiceMailSupportModifyRequest">
    <xs:annotation>
      <xs:documentation>
        Modify the Third Party Voice Mail Support settings for a user.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="isActive" type="xs:boolean" minOccurs="0"/>
          <xs:element name="busyRedirectToVoiceMail" type="xs:boolean" minOccurs="0"/>
          <xs:element name="noAnswerRedirectToVoiceMail" type="xs:boolean" minOccurs="0"/>
          <xs:element name="serverSelection" type="ThirdPartyVoiceMailSupportServerSelection" minOccurs="0"/>
          <xs:element name="userServer" type="ThirdPartyVoiceMailSupportMailServer" nillable="true" minOccurs="0"/>
          <xs:element name="mailboxIdType" type="ThirdPartyVoiceMailSupportMailboxIdType" minOccurs="0"/>
          <xs:element name="mailboxURL" type="SIPURI" nillable="true" minOccurs="0"/>
          <xs:element name="noAnswerNumberOfRings" type="ThirdPartyVoiceMailSupportNumberOfRings" minOccurs="0"/>
          <xs:element name="alwaysRedirectToVoiceMail" type="xs:boolean" minOccurs="0"/>
          <xs:element name="outOfPrimaryZoneRedirectToVoiceMail" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- ******************************************************************** -->
  <!-- M E S S A G E   P A R A M E T E R S                                  -->
  <!-- ******************************************************************** -->
  <!--
  The Third Party Voice Mail Support specific non-primitive attributes are listed here in alphabetical order.
  -->
  

  <xs:simpleType name="ThirdPartyVoiceMailDestinationDescription">
    <xs:annotation>
      <xs:documentation>
        ThirdPartyVoiceMailSupport User DN's Description.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="80"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
