ocip_schema/OCISchemaASDeprecatedSpecialExceptions.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- ********************************************************************** -->
<!-- Copyright (c) 2000-2012 BroadSoft, Inc.  All rights reserved.          -->
<!-- ********************************************************************** -->
<!-- O C I   X M L   S C H E M A  :  A   S   D E P R E C A T E D   S P E C I A L   E X C E P T I O N S  P A R T  -->
<!--                                                                        -->
<!-- This file defines the XML Schema for the BroadSoft Application Server  -->
<!-- Open Client Interface (OCI).                                           -->
<!-- ********************************************************************** -->

<xs:schema xmlns:xs             = "http://www.w3.org/2001/XMLSchema"
           xmlns:core           = "C"
           xmlns                = ""
           attributeFormDefault = "qualified"
           elementFormDefault   = "qualified">

  <xs:import namespace      = "C"
             schemaLocation = "OCISchemaBASE.xsd"/>

  <xs:include schemaLocation="OCISchemaUser.xsd"/>
  <xs:include schemaLocation="OCISchemaDataTypes.xsd"/>
  <xs:include schemaLocation="OCISchemaSearchCriteria.xsd"/>

  <!-- ********************************************************************************** -->
  <!-- A   S   D E P R E C A T E D   S P E C I A L   E X C E P T I O N S  P A R T         -->
  <!-- R E Q U E S T S  A N D  R E S P O N S E S                                          -->
  <!-- ********************************************************************************** -->
  <!--
  Requests and responses are listed here in alphabetical order.
  The non-primitive attributes inside the commands are defined in another
  section of the schema.

  Requests in this schema file:
    GroupCallCenterForcedForwardingModifyRequest17
    GroupCallCenterNightServiceGetRequest17sp1
    GroupCallCenterNightServiceModifyRequest17sp1
    UserCustomRingbackUserAddCriteriaRequest16
    UserCustomRingbackUserModifyCriteriaRequest16
    UserCustomRingbackUserGetCriteriaRequest16
    UserVoiceMessagingUserGetGreetingRequest18sp1
    UserVoiceMessagingUserGetVoicePortalRequest16
    UserVoiceMessagingUserModifyVoicePortalRequest16
    UserVoiceMessagingUserModifyGreetingRequest16
    UserBroadWorksMobilityModifyRequest
    UserBroadWorksMobilityGetRequest
    UserBroadWorksMobilityModifyRequest20

  -->

  <xs:complexType name="GroupCallCenterForcedForwardingModifyRequest17">
    <xs:annotation>
      <xs:documentation>
        Modify a call center's forced forwarding
        settings.
        The response is either a SuccessResponse or an
        ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
          <xs:element name="isActive" type="xs:boolean" minOccurs="0"/>
          <xs:element name="forwardToPhoneNumber" type="OutgoingDNorSIPURI" minOccurs="0" nillable="true"/>
          <xs:element name="allowEnableViaFAC" type="xs:boolean" minOccurs="0"/>
          <xs:element name="playAnnouncementBeforeForwarding" type="xs:boolean" minOccurs="0"/>
          <xs:element name="audioMessageSelection" type="ExtendedFileResourceSelection" minOccurs="0"/>
          <xs:element name="audioUrlList" type="CallCenterAnnouncementURLListModify" minOccurs="0"/>
          <xs:element name="audioFileList" type="CallCenterAnnouncementFileListModify" minOccurs="0"/>
          <xs:element name="videoMessageSelection" type="ExtendedFileResourceSelection" minOccurs="0"/>
          <xs:element name="videoUrlList" type="CallCenterAnnouncementURLListModify" minOccurs="0"/>
          <xs:element name="videoFileList" type="CallCenterAnnouncementFileListModify" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupCallCenterNightServiceGetRequest17sp1">
    <xs:annotation>
      <xs:documentation>
        Get a call center's night service settings.
        The response is either a GroupCallCenterNightServiceGetResponse17sp1 or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupCallCenterNightServiceGetResponse17sp1">
    <xs:annotation>
      <xs:documentation>
        Response to the GroupCallCenterNightServiceGetRequest17sp1.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="action" type="CallCenterScheduledServiceAction"/>
          <xs:element name="businessHours" type="TimeSchedule" minOccurs="0"/>
          <xs:element name="forceNightService" type="xs:boolean"/>
          <xs:element name="allowManualOverrideViaFAC" type="xs:boolean"/>
          <xs:element name="transferPhoneNumber" type="OutgoingDNorSIPURI" minOccurs="0"/>
          <xs:element name="playAnnouncementBeforeAction" type="xs:boolean"/>
          <xs:element name="audioMessageSelection" type="ExtendedFileResourceSelection"/>
          <xs:element name="audioUrlList" type="CallCenterAnnouncementURLList" minOccurs="0"/>
          <xs:element name="audioFileList" type="CallCenterAnnouncementDescriptionList" minOccurs="0"/>
          <xs:element name="audioMediaTypeList" type="CallCenterAnnouncementMediaFileTypeList" minOccurs="0"/>
          <xs:element name="videoMessageSelection" type="ExtendedFileResourceSelection"/>
          <xs:element name="videoUrlList" type="CallCenterAnnouncementURLList" minOccurs="0"/>
          <xs:element name="videoFileList" type="CallCenterAnnouncementDescriptionList" minOccurs="0"/>
          <xs:element name="videoMediaTypeList" type="CallCenterAnnouncementMediaFileTypeList" minOccurs="0"/>
          <xs:element name="manualAnnouncementMode" type="CallCenterManualNightServiceAnnouncementMode"/>
          <xs:element name="manualAudioMessageSelection" type="ExtendedFileResourceSelection"/>
          <xs:element name="manualAudioUrlList" type="CallCenterAnnouncementURLList" minOccurs="0"/>
          <xs:element name="manualAudioFileList" type="CallCenterAnnouncementDescriptionList" minOccurs="0"/>
          <xs:element name="manualAudioMediaTypeList" type="CallCenterAnnouncementMediaFileTypeList" minOccurs="0"/>
          <xs:element name="manualVideoMessageSelection" type="ExtendedFileResourceSelection"/>
          <xs:element name="manualVideoUrlList" type="CallCenterAnnouncementURLList" minOccurs="0"/>
          <xs:element name="manualVideoFileList" type="CallCenterAnnouncementDescriptionList" minOccurs="0"/>
          <xs:element name="manualVideoMediaTypeList" type="CallCenterAnnouncementMediaFileTypeList" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupCallCenterNightServiceModifyRequest17sp1">
    <xs:annotation>
      <xs:documentation>
        Modify a call center's night service settings.
        Only Group and Enterprise level schedules are
        accepted.
        The
        response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
          <xs:element name="action" type="CallCenterScheduledServiceAction" minOccurs="0"/>
          <xs:element name="businessHours" type="TimeSchedule" minOccurs="0" nillable="true"/>
          <xs:element name="forceNightService" type="xs:boolean" minOccurs="0"/>
          <xs:element name="allowManualOverrideViaFAC" type="xs:boolean" minOccurs="0"/>
          <xs:element name="transferPhoneNumber" type="OutgoingDNorSIPURI" minOccurs="0" nillable="true"/>
          <xs:element name="playAnnouncementBeforeAction" type="xs:boolean" minOccurs="0"/>
          <xs:element name="audioMessageSelection" type="ExtendedFileResourceSelection" minOccurs="0"/>
          <xs:element name="audioUrlList" type="CallCenterAnnouncementURLListModify" minOccurs="0"/>
          <xs:element name="audioFileList" type="CallCenterAnnouncementFileListModify" minOccurs="0"/>
          <xs:element name="videoMessageSelection" type="ExtendedFileResourceSelection" minOccurs="0"/>
          <xs:element name="videoUrlList" type="CallCenterAnnouncementURLListModify" minOccurs="0"/>
          <xs:element name="videoFileList" type="CallCenterAnnouncementFileListModify" minOccurs="0"/>
          <xs:element name="manualAnnouncementMode" type="CallCenterManualNightServiceAnnouncementMode" minOccurs="0"/>
          <xs:element name="manualAudioMessageSelection" type="ExtendedFileResourceSelection" minOccurs="0"/>
          <xs:element name="manualAudioUrlList" type="CallCenterAnnouncementURLListModify" minOccurs="0"/>
          <xs:element name="manualAudioFileList" type="CallCenterAnnouncementFileListModify" minOccurs="0"/>
          <xs:element name="manualVideoMessageSelection" type="ExtendedFileResourceSelection" minOccurs="0"/>
          <xs:element name="manualVideoUrlList" type="CallCenterAnnouncementURLListModify" minOccurs="0"/>
          <xs:element name="manualVideoFileList" type="CallCenterAnnouncementFileListModify" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserCustomRingbackUserAddCriteriaRequest16">
    <xs:annotation>
      <xs:documentation>
        Add a criteria to the user's custom ringback
        service.
        The response is either a SuccessResponse or
        an
        ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="criteriaName" type="CriteriaName"/>
          <xs:element name="timeSchedule" type="TimeSchedule" minOccurs="0"/>
          <xs:element name="holidaySchedule" type="HolidaySchedule" minOccurs="0"/>
          <xs:element name="blacklisted" type="xs:boolean"/>
          <xs:element name="fromDnCriteria" type="CriteriaFromDn"/>
          <xs:element name="audioSelection" type="ExtendedFileResourceSelection"/>
          <xs:element name="audioFile" type="ExtendedMediaFileResource" minOccurs="0"/>
          <xs:element name="videoSelection" type="ExtendedFileResourceSelection"/>
          <xs:element name="videoFile" type="ExtendedMediaFileResource" minOccurs="0"/>
          <xs:element name="callWaitingAudioSelection" type="ExtendedFileResourceSelection" minOccurs="0"/>
          <xs:element name="callWaitingAudioFile" type="ExtendedMediaFileResource" minOccurs="0"/>
          <xs:element name="callWaitingVideoSelection" type="ExtendedFileResourceSelection" minOccurs="0"/>
          <xs:element name="callWaitingVideoFile" type="ExtendedMediaFileResource" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserCustomRingbackUserModifyCriteriaRequest16">
    <xs:annotation>
      <xs:documentation>
        Modify a criteria for the user's custom ringback
        service.
        The response is either a SuccessResponse
        or an
        ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="criteriaName" type="CriteriaName"/>
          <xs:element name="newCriteriaName" type="CriteriaName" minOccurs="0"/>
          <xs:element name="timeSchedule" type="TimeSchedule" nillable="true" minOccurs="0"/>
          <xs:element name="holidaySchedule" type="HolidaySchedule" nillable="true" minOccurs="0"/>
          <xs:element name="blacklisted" type="xs:boolean" minOccurs="0"/>
          <xs:element name="fromDnCriteria" type="CriteriaFromDnModify" minOccurs="0"/>
          <xs:element name="audioSelection" type="ExtendedFileResourceSelection" minOccurs="0"/>
          <xs:element name="audioFile" type="ExtendedMediaFileResource" minOccurs="0"/>
          <xs:element name="videoSelection" type="ExtendedFileResourceSelection" minOccurs="0"/>
          <xs:element name="videoFile" type="ExtendedMediaFileResource" minOccurs="0"/>
          <xs:element name="callWaitingAudioSelection" type="ExtendedFileResourceSelection" minOccurs="0"/>
          <xs:element name="callWaitingAudioFile" type="ExtendedMediaFileResource" minOccurs="0"/>
          <xs:element name="callWaitingVideoSelection" type="ExtendedFileResourceSelection" minOccurs="0"/>
          <xs:element name="callWaitingVideoFile" type="ExtendedMediaFileResource" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserCustomRingbackUserGetCriteriaRequest16">
    <xs:annotation>
      <xs:documentation>
        Get a criteria for the user's custom ringback service.
        The response is either a UserCustomRingbackUserGetCriteriaResponse16 or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="criteriaName" type="CriteriaName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserCustomRingbackUserGetCriteriaResponse16">
    <xs:annotation>
      <xs:documentation>
        Response to the UserCustomRingbackUserGetCriteriaRequest16.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="timeSchedule" type="TimeSchedule" minOccurs="0"/>
          <xs:element name="holidaySchedule" type="HolidaySchedule" minOccurs="0"/>
          <xs:element name="blacklisted" type="xs:boolean"/>
          <xs:element name="fromDnCriteria" type="CriteriaFromDn"/>
          <xs:element name="audioSelection" type="ExtendedFileResourceSelection"/>
          <xs:element name="audioFileDescription" type="FileDescription" minOccurs="0"/>
          <xs:element name="audioMediaType" type="MediaFileType" minOccurs="0"/>
          <xs:element name="audioFileUrl" type="URL" minOccurs="0"/>
          <xs:element name="videoSelection" type="ExtendedFileResourceSelection"/>
          <xs:element name="videoFileDescription" type="FileDescription" minOccurs="0"/>
          <xs:element name="videoMediaType" type="MediaFileType" minOccurs="0"/>
          <xs:element name="videoFileUrl" type="URL" minOccurs="0"/>
          <xs:element name="callWaitingAudioSelection" type="ExtendedFileResourceSelection" minOccurs="0"/>
          <xs:element name="callWaitingAudioFileDescription" type="FileDescription" minOccurs="0"/>
          <xs:element name="callWaitingAudioMediaType" type="MediaFileType" minOccurs="0"/>
          <xs:element name="callWaitingAudioFileUrl" type="URL" minOccurs="0"/>
          <xs:element name="callWaitingVideoSelection" type="ExtendedFileResourceSelection" minOccurs="0"/>
          <xs:element name="callWaitingVideoFileDescription" type="FileDescription" minOccurs="0"/>
          <xs:element name="callWaitingVideoMediaType" type="MediaFileType" minOccurs="0"/>
          <xs:element name="callWaitingVideoFileUrl" type="URL" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserVoiceMessagingUserGetGreetingRequest18sp1">
    <xs:annotation>
      <xs:documentation>
        Get the user's voice messaging greeting information.
        The response is either a UserVoiceMessagingUserGetGreetingResponse18sp1 or an ErrorResponse.

        Replaced by UserVoiceMessagingUserGetGreetingRequest20
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserVoiceMessagingUserGetGreetingResponse18sp1">
    <xs:annotation>
      <xs:documentation>
        Response to UserVoiceMessagingUserGetGreetingRequest18sp1.
        Contains the greeting configuration for a user's voice messaging.
        The following elements are only used in AS data mode:
          disableMessageDeposit
          disableMessageDepositAction
          greetingOnlyForwardDestination
          extendedAwayEnabled
          extendedAwayDisableMessageDeposit
          extendedAwayAudioFile
          extendedAwayAudioMediaType
          extendedAwayVideoFile
          extendedAwayVideoMediaTyp

          Replaced by UserVoiceMessagingUserGetGreetingResponse20
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="busyAnnouncementSelection" type="AnnouncementSelection"/>
          <xs:element name="busyPersonalAudioFile" type="FileDescription" minOccurs="0"/>
          <xs:element name="busyPersonalAudioMediaType" type="MediaFileType" minOccurs="0"/>
          <xs:element name="busyPersonalVideoFile" type="FileDescription" minOccurs="0"/>
          <xs:element name="busyPersonalVideoMediaType" type="MediaFileType" minOccurs="0"/>
          <xs:element name="noAnswerAnnouncementSelection" type="VoiceMessagingNoAnswerGreetingSelection"/>
          <xs:element name="noAnswerPersonalAudioFile" type="FileDescription" minOccurs="0"/>
          <xs:element name="noAnswerPersonalAudioMediaType" type="MediaFileType" minOccurs="0"/>
          <xs:element name="noAnswerPersonalVideoFile" type="FileDescription" minOccurs="0"/>
          <xs:element name="noAnswerPersonalVideoMediaType" type="MediaFileType" minOccurs="0"/>
          <xs:element name="extendedAwayEnabled" type="xs:boolean"/>
          <xs:element name="extendedAwayDisableMessageDeposit" type="xs:boolean"/>
          <xs:element name="extendedAwayAudioFile" type="FileDescription" minOccurs="0"/>
          <xs:element name="extendedAwayAudioMediaType" type="MediaFileType" minOccurs="0"/>
          <xs:element name="extendedAwayVideoFile" type="FileDescription" minOccurs="0"/>
          <xs:element name="extendedAwayVideoMediaType" type="MediaFileType" minOccurs="0"/>
          <xs:element name="noAnswerAlternateGreeting01" type="VoiceMessagingAlternateNoAnswerGreetingRead16" minOccurs="0"/>
          <xs:element name="noAnswerAlternateGreeting02" type="VoiceMessagingAlternateNoAnswerGreetingRead16" minOccurs="0"/>
          <xs:element name="noAnswerAlternateGreeting03" type="VoiceMessagingAlternateNoAnswerGreetingRead16" minOccurs="0"/>
          <xs:element name="noAnswerNumberOfRings" type="VoiceMessagingNumberOfRings"/>
          <xs:element name="disableMessageDeposit" type="xs:boolean"/>
          <xs:element name="disableMessageDepositAction" type="VoiceMessagingDisableMessageDepositSelection"/>
          <xs:element name="greetingOnlyForwardDestination" type="OutgoingDNorSIPURI" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserVoiceMessagingUserGetVoicePortalRequest16">
    <xs:annotation>
      <xs:documentation>
        Get the user's voice messaging voice portal settings.
        The response is either a UserVoiceMessagingUserGetVoicePortalResponse16 or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserVoiceMessagingUserGetVoicePortalResponse16">
    <xs:annotation>
      <xs:documentation>
        Response to UserVoiceMessagingUserGetVoicePortalRequest16.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="usePersonalizedName" type="xs:boolean"/>
          <xs:element name="voicePortalAutoLogin" type="xs:boolean"/>
          <xs:element name="personalizedNameAudioFileDescription" type="FileDescription" minOccurs="0"/>
          <xs:element name="personalizedNameMediaType" type="MediaFileType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="VoiceMessagingAlternateNoAnswerGreetingRead16">
    <xs:annotation>
      <xs:documentation>
        The configuration of a alternate no answer greeting.
        It is used when geting a user's voice messaging greeting.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="VoiceMessagingAlternateNoAnswerGreetingName"/>
      <xs:element name="audioFile" type="FileDescription" minOccurs="0"/>
      <xs:element name="audioMediaType" type="MediaFileType" minOccurs="0"/>
      <xs:element name="videoFile" type="FileDescription" minOccurs="0"/>
      <xs:element name="videoMediaType" type="MediaFileType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="UserVoiceMessagingUserModifyVoicePortalRequest16">
    <xs:annotation>
      <xs:documentation>
        Modify the user's voice messaging voice portal settings.
        The response is either a SuccessResponse
        or an ErrorResponse.
        Engineering Note: This command is used internally by Call Processing.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="usePersonalizedName" type="xs:boolean" minOccurs="0"/>
          <xs:element name="voicePortalAutoLogin" type="xs:boolean" minOccurs="0"/>
          <xs:element name="personalizedNameAudioFile" type="LabeledMediaFileResource" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserVoiceMessagingUserModifyGreetingRequest16">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>true</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Modify the user's voice messaging greeting.
        The response is either a SuccessResponse or an ErrorResponse.
        Engineering Note: This command is used internally by Call Processing.
        The following elements are only used in AS data mode:
          disableMessageDeposit
          disableMessageDepositAction
          greetingOnlyForwardDestination

        Replaced by UserVoiceMessagingUserModifyGreetingRequest20
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="busyAnnouncementSelection" type="AnnouncementSelection" minOccurs="0"/>
          <xs:element name="busyPersonalAudioFile" type="LabeledMediaFileResource" minOccurs="0"/>
          <xs:element name="busyPersonalVideoFile" type="LabeledMediaFileResource" minOccurs="0"/>
          <xs:element name="noAnswerAnnouncementSelection" type="VoiceMessagingNoAnswerGreetingSelection" minOccurs="0"/>
          <xs:element name="noAnswerPersonalAudioFile" type="LabeledMediaFileResource" minOccurs="0"/>
          <xs:element name="noAnswerPersonalVideoFile" type="LabeledMediaFileResource" minOccurs="0"/>
          <xs:element name="extendedAwayEnabled" type="xs:boolean" minOccurs="0"/>
          <xs:element name="extendedAwayDisableMessageDeposit" type="xs:boolean" minOccurs="0"/>
          <xs:element name="extendedAwayAudioFile" type="LabeledMediaFileResource" minOccurs="0"/>
          <xs:element name="extendedAwayVideoFile" type="LabeledMediaFileResource" minOccurs="0"/>
          <xs:element name="noAnswerAlternateGreeting01" type="VoiceMessagingAlternateNoAnswerGreetingModify16" minOccurs="0"/>
          <xs:element name="noAnswerAlternateGreeting02" type="VoiceMessagingAlternateNoAnswerGreetingModify16" minOccurs="0"/>
          <xs:element name="noAnswerAlternateGreeting03" type="VoiceMessagingAlternateNoAnswerGreetingModify16" minOccurs="0"/>
          <xs:element name="noAnswerNumberOfRings" type="VoiceMessagingNumberOfRings" minOccurs="0"/>
          <xs:element name="disableMessageDeposit" type="xs:boolean" minOccurs="0"/>
          <xs:element name="disableMessageDepositAction" type="VoiceMessagingDisableMessageDepositSelection" minOccurs="0"/>
          <xs:element name="greetingOnlyForwardDestination" type="OutgoingDNorSIPURI" nillable="true" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CallCenterAnnouncementDescriptionList">
    <xs:annotation>
      <xs:documentation>
        Contains list of file descriptions for audio or video files
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fileDescription1" type="FileDescription" minOccurs="0"/>
      <xs:element name="fileDescription2" type="FileDescription" minOccurs="0"/>
      <xs:element name="fileDescription3" type="FileDescription" minOccurs="0"/>
      <xs:element name="fileDescription4" type="FileDescription" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CallCenterAnnouncementMediaFileTypeList">
    <xs:annotation>
      <xs:documentation>
        Contains list of file media types for audio or video files
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="mediaType1" type="MediaFileType" minOccurs="0"/>
      <xs:element name="mediaType2" type="MediaFileType" minOccurs="0"/>
      <xs:element name="mediaType3" type="MediaFileType" minOccurs="0"/>
      <xs:element name="mediaType4" type="MediaFileType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="UserBroadWorksMobilityModifyRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Modify the user's broadworks mobility service settings.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="isActive" type="xs:boolean" minOccurs="0"/>
          <xs:element name="phonesToRing" type="BroadWorksMobilityPhoneToRing" minOccurs="0"/>
          <xs:element name="mobilePhoneNumber" type="DN" minOccurs="0" nillable="true"/>
          <xs:element name="alertClickToDialCalls" type="xs:boolean" minOccurs="0"/>
          <xs:element name="alertGroupPagingCalls" type="xs:boolean" minOccurs="0"/>
          <xs:element name="enableDiversionInhibitor" type="xs:boolean" minOccurs="0"/>
          <xs:element name="requireAnswerConfirmation" type="xs:boolean" minOccurs="0"/>
          <xs:element name="broadworksCallControl" type="xs:boolean" minOccurs="0"/>
          <xs:element name="useSettingLevel" type="BroadWorksMobilityUserSettingLevel" minOccurs="0"/>
          <xs:element name="denyCallOriginations" type="xs:boolean" minOccurs="0"/>
          <xs:element name="denyCallTerminations" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserBroadWorksMobilityGetRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Get the user's broadworks mobility service settings.
        The response is either a UserBroadWorksMobilityGetResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserBroadWorksMobilityGetResponse">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
         Response to a UserBroadWorksMobilityGetRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="isActive" type="xs:boolean"/>
          <xs:element name="phonesToRing" type="BroadWorksMobilityPhoneToRing"/>
          <xs:element name="mobilePhoneNumber" type="DN" minOccurs="0"/>
          <xs:element name="alertClickToDialCalls" type="xs:boolean"/>
          <xs:element name="alertGroupPagingCalls" type="xs:boolean"/>
          <xs:element name="enableDiversionInhibitor" type="xs:boolean"/>
          <xs:element name="requireAnswerConfirmation" type="xs:boolean"/>
          <xs:element name="broadworksCallControl" type="xs:boolean"/>
          <xs:element name="useSettingLevel" type="BroadWorksMobilityUserSettingLevel"/>
          <xs:element name="denyCallOriginations" type="xs:boolean"/>
          <xs:element name="denyCallTerminations" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserBroadWorksMobilityModifyRequest20">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Modify the user's broadworks mobility service settings.
        The response is either a SuccessResponse or an ErrorResponse.
        If the request modifies the mobilePhoneNumber and the new number does not belong to the appropriate Mobile Subscriber Directory Numbers pool, the request is rejected. For a service provider the number must belong to the group Mobile Subscriber Directory Numbers pool. For an enterprise user, the number must belong to the enterprise Mobile Subscriber Directory Numbers pool.
        If the request is executed by a user and modifies the mobilePhoneNumber, the request is rejected.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="isActive" type="xs:boolean" minOccurs="0"/>
          <xs:element name="phonesToRing" type="BroadWorksMobilityPhoneToRing" minOccurs="0"/>
          <xs:element name="mobilePhoneNumber" type="DN" minOccurs="0" nillable="true"/>
          <xs:element name="alertClickToDialCalls" type="xs:boolean" minOccurs="0"/>
          <xs:element name="alertGroupPagingCalls" type="xs:boolean" minOccurs="0"/>
          <xs:element name="enableDiversionInhibitor" type="xs:boolean" minOccurs="0"/>
          <xs:element name="requireAnswerConfirmation" type="xs:boolean" minOccurs="0"/>
          <xs:element name="broadworksCallControl" type="xs:boolean" minOccurs="0"/>
          <xs:element name="useSettingLevel" type="BroadWorksMobilityUserSettingLevel" minOccurs="0"/>
          <xs:element name="denyCallOriginations" type="xs:boolean" minOccurs="0"/>
          <xs:element name="denyCallTerminations" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>
